body {
	font-size: 14px;
	background-color: #eee
}
.event-calendar {
	min-height: 320px;
}
tr {
	text-align: left;
}
.mini-stat-info {
	font-size: 16px;
}
.ng-table th {
	text-align: left;
}
table {
	color: #333
}
ul.sidebar-menu li a{
	font-size: 14px;
}
.brand {
	height: 60px;
}
a.logo {
	margin-top: 10px;
}
.sidebar-toggle-box {
	margin-top: 13px;
}
.top-nav {
	margin-top: 13px;
}
ul.sidebar-menu {
	padding-top: 60px;
}
.coach-selected {
	-webkit-border-radius: 5px;
	border-raidus: 5px;
	background-color: #1fb5ad;
	color: #fff;
}
.progress-bar.pending {
	background-color: #1fb5ad;
}

.cal-day {
	font-size: 22px;
}
.salary-span {
	margin: 10px;
	padding: 4px 8px;
	border-radius: 4px;
}
.salary-span.active{
	color: white;
	background-color: #1fb5ad;
}
.bg-lightgrey {
	background-color: #f1f1f1;
}
