body {
	font-size: 14px;
	background-color: #eee
}
.event-calendar {
	min-height: 320px;
	margin-bottom: 10px;
}
tr {
	text-align: left;
}
.mini-stat-info {
	font-size: 16px;
}
.ng-table th {
	text-align: left;
}
table {
	color: #333
}
ul.sidebar-menu li a{
	font-size: 14px;
}
.brand {
	height: 60px;
}
a.logo {
	margin-top: 10px;
}
.sidebar-toggle-box {
	margin-top: 13px;
}
.top-nav {
	margin-top: 13px;
}
ul.sidebar-menu {
	padding-top: 60px;
}
.coach-selected {
	-webkit-border-radius: 5px;
	border-raidus: 5px;
	background-color: #1fb5ad;
	color: #fff;
}
.progress-bar.pending {
	background-color: #1fb5ad;
}

.cal-day {
	font-size: 22px;
}
.salary-span {
	margin: 10px;
	padding: 4px 8px;
	border-radius: 4px;
}
.salary-span.active{
	color: white;
	background-color: #1fb5ad;
}
.bg-lightgrey {
	background-color: #f1f1f1;
}
.autocomplete-suggestions{
	background-color: #fafafa;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 1px 0 3px rgba(0,0,0,.15);
}
.autocomplete-suggestion { padding: 4px 8px; border-radius: 4px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestion:hover { background: #1fb5ad; color:white }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.search:focus {
     border: solid 1px #1fb5ad;
	 background-color: #fafafa;
	 color: #777
}
#incomplete.dropdown-menu:before {
	left: 90%
}
#incomplete.dropdown-menu:after {
	left: 90%
}
#birthdays.dropdown-menu:before {
	left: 90%
}
#birthdays.dropdown-menu:after {
	left: 90%
}

#deadorder.dropdown-menu:before {
	left: 90%
}
#deadorder.dropdown-menu:after {
	left: 90%
}

