.tab-pane {
	padding:0
}
.course-time {
	margin-right: 20px;
    float: right;
	color: grey;
}
.course-time > .icon {
	font-size: 26px;
}

.course-time > .category-link {
    margin-top: 20px;
    font-size: 12px;
}
.toolbar-top-button {
	font-size: 16px;
}
.title-list.highlighted {
	color: black;
}
.navbar-title {
	font-size: 20px;
}
.label-form {
	font-size: 14px;
	line-height: 15px;
	color: darkgray;
}
.input-form {
	font-size: 15px;
	text-align: center;

}
.date-tab {
	width: 22%;
	padding: 22px 0 8px 0;
}
.date-tab-day>div {
	border-left: solid 1px #777
}
.date-tab-picker {
	width: 12%;
    padding-top: 8px;
	border-bottom: none;
    padding-bottom: 3px;
	padding-left: 2px
}
.date-tab-picker .md-button.md-icon-button{
	padding-top: 12px;
    margin-left: 0;
}
.date-tab-picker .md-datepicker-input-container {
	border-bottom: none;
	margin-left: -8px;
    padding-bottom: 0;
}
.date-tab-picker md-icon {
    color: #4fd2c2 !important;
}

.md-datepicker-input {
	font-size: 16px !important;
	font-family: Montserrat, sans-serif;
	color: #333;
	margin-left: 40px;
}

.date-tab.selected>div{
	color: #4fd2c2
}
.icon-button {
	font-size: 16px;
	padding-top: 2px;
}
.small-button {
	font-size: 14px;
}
md-dialog .date-tab {
    padding: 14px 0 12px 0;
}
md-dialog .date-tab-picker {
	padding-top: 0
}


/* angular-material */
md-toolbar {
    background: rgba(0,0,0,0) !important;
    color: #333 !important;
}
/* end angular-material */

