.tab-pane {
	padding:0
}
.course-time {
	margin-right: 10px;
    float: right;
	color: grey;
}
.course-time > .icon {
	font-size: 26px;
}

.course-time > .category-link {
    margin-top: 20px;
    font-size: 12px;
}

.event.action .highlighted{
	color: #4fd2c2
}


.toolbar-top-button {
	font-size: 16px;
}
.title-list.highlighted {
	color: black;
}
.navbar-title {
	font-size: 16px;
}
.label-form {
	font-size: 14px;
	line-height: 15px;
	color: darkgray;
}
.input-form {
	font-size: 15px;
	text-align: center;

}


.event{
	background: lavenderblush;
    border-left: solid 3px rgb(189,0,78);
    font-size: 16px;
	color:  rgb(189, 0, 78);
}
.event .course-time {
	color:  rgb(189, 0, 78);
}

.event.done {
	background: rgb(224,247,217);
    border-left: solid 3px rgb(54,98,44);
    font-size: 16px;
    color: rgb(54,98,44);
    font-weight: bold;
}
.event.done .course-time{
	 color: rgb(54,98,44);
}
.event-action-btn {
	margin: 0;
    width: 45px;
    min-width: 45px;
    max-width: 45px !important;
}

.event-container {
	height: inherit
}
.event-container input{
	color: rgb(70,50,0)
}
.event.action{
	font-size: 28px;
}

.hour {
	border-left: dotted 1px #e7e7e9;
}

.event-container>.hour.na {
	background: #f7f7f7;
}
.event-container>.hour.booked {
	background: lavenderblush;
    border-left: solid 3px rgb(189,0,78);
    color: rgb(189,0,78);
}

.event-container>.hour.completed {
	background: rgb(224,247,217);
    border-left: solid 3px rgb(54,98,44);
	color: rgb(54,98,44);
}
.event-container>.hour.editing {
	background: rgb(253,243,205);
	border-left: solid 3px rgb(248,197,51);
	color: rgb(113,81,27);
}


.event-container span.hour-action {
	border-radius : 4px;
	border: solid 1px;
	padding: 6px 10px
}

.list-item {
	height:50px;
	border-bottom: solid 1px #e7e7e9
}
.list-item.first {
	height:54px;
	border-top: solid 1px #e7e7e9
}
.list-item.editing {
	background: rgb(253,243,205);
	border-left: solid 3px rgb(248,197,51);
}

.list-item.border-dot {
	border-bottom-style: dotted;
}
.list-item.hide-border {
	border-bottom: none;
	height: 51px
}
.title-list.half {
}
.opacity-hide {
	opacity: 0
}

span.number {
    background: rgba(79,210,194,0.6);
    color: white;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}


.o-active-btn {
	color: #4fd2c2
}

.md-input-has-value>label, .md-input-focused>label {
	display: none
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #666
}
.date-day {
	font-size: 16px;
	text-align: center;
	color: #555 !important;
}
.weekday {
	font-size: 12px;
	color: #777;
}
.date-day > .day-str {
	padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.date-day.selected > .day-str {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
	border: solid 1px #4fd2c2;
	color: #4fd2c2
}


.md-toolbar-tools .date-day .date-day-item {
    padding: 9px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: normal;
	width: 38px;
	height: 38px;
}

.md-toolbar-tools .date-day.selected .date-day-item {
	background: #4fd2c2;
    color: white;
    font-weight: normal;
}
.date-tab-picker {
	width: 12%;
    padding-top: 8px;
	border-bottom: none;
    padding-bottom: 3px;
	padding-left: 2px
}
.date-tab-picker .md-button.md-icon-button{
	padding-top: 12px;
    margin-left: 0;
}
.md-datepicker-input-container {
	border-bottom: none;
	margin-left: -8px;
    padding-bottom: 0;
	display: none;
}
md-datepicker md-icon {
    /*color: #4fd2c2 !important;*/
    color: rgba(0,0,0,0) !important;
}

.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon, .md-datepicker-open .md-datepicker-calendar-icon {
    fill: rgba(0,0,0,0) !important;
}

.md-datepicker-input {
	font-size: 16px !important;
	font-family: Montserrat, sans-serif;
	color: #333;
	margin-left: 40px;
	display: none;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
	display:none
}


.icon-button {
	font-size: 16px;
	padding-top: 2px;
}
.small-button {
	background: #4fd2c2;
	font-size: 14px;
	color: white;
}
md-dialog .date-tab {
    padding: 20px 0 12px 0;
}
md-toolbar .date-tab-picker {
	padding-top: 6px;
	padding-bottom: 6px;
}
.date-tab-hour {
	font-size:15px
}
.time-na {
	text-align:center;
	color:#ccc
}
.time-available {
	text-align:center;
	color:#777
}
/*
md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    background-color: #eee;
    color: #666;
}
*/
.bottom-action-bar>.action {
	padding:5px;
	line-height: 32px;
}
.bottom-action-bar>.action> a{
	text-align: center;
	
}


md-input-container {
	margin-top: 8px;
}

/* angular-material */
md-toolbar {
    background: rgba(255,255,255,1) !important;
    color: #333 !important;
	padding: 0 5px;
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: #333
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
	color: #4fd2c2;
	background: #4fd2c2
}
.icon-list {
	line-height: 50px
}

.icon-list-menu {
    color: #4fd2c2
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #4fd2c2
}
.right-input-link {
	width: 20%
}
md-progress-circular.md-default-theme.md-accent .md-inner .md-right .md-half-circle, md-progress-circular.md-accent .md-inner .md-right .md-half-circle {
    border-right-color: #4fd2c2
}
md-progress-circular.md-default-theme.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme.md-accent .md-inner .md-right .md-half-circle, md-progress-circular.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: #4fd2c2;
}
md-progress-circular.md-default-theme.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: #4fd2c2;
}
md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
	background: rgba(255,255,255,0);
}

/* end angular-material */


/* TODO @media */
.time-table {
	height: 1700px
}
.body{
	padding-top:45px
}
md-sidenav{
	width:calc(100% - 80px);
	min-width:calc(100% - 80px);
	min-width:calc(100% - 80px);
}

@media screen and (max-width:420px){
	.time-table {
		height: 1100px
	}
}

@media screen and (max-width:376px){
	.time-table {
		height: 1700px
	}
}

@media screen and (max-width:321px){
	.time-table {
		height: 2000px
	}
}
@media screen and (max-height:480px){
	.time-table {
		height: 3200px
	}
}

.slideInRight{
  -webkit-animation: slideInRight 0.4s; /* Safari 4+ */
  -moz-animation:    slideInRight 0.4s; /* Fx 5+ */
  -o-animation:      slideInRight 0.4s; /* Opera 12+ */
  animation:         slideInRight 0.4s; /* IE 10+, Fx 29+ */
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

