<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/anim-in-out.css">
	<link href="//cdn.bootcss.com/angular-material/1.0.1/angular-material.min.css" rel="stylesheet">-->

    <link href="//cdn.bootcss.com/framework7/1.4.0/css/framework7.ios.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/framework7/1.4.0/css/framework7.ios.colors.min.css"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/customermobilecss/custom.css">
    <link href="/static/mobilecss/ionicons.min.css" rel="stylesheet" type="text/css"
    />
    <link href="/static/css/animate.min.css" rel="stylesheet">
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <p>Left panel content goes here</p>
        </div>
    </div>
    <div class="panel panel-right panel-cover">
        <div class="content-block">
            <p>Right panel content goes here</p>
        </div>
    </div>
    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div data-page="home" class="page">
                    <div class="navbar o2-timeline-nav">
                        <div class="content-block o2-timeline-header">
                            <div class="content-block-inner">
                                <div class="row no-gutter">
                                    <div class="col-20">
                                    </div>
                                    <div class="col-20 animated pulse">
                                        <div class="o2-book-now ">
                                            <div>
                                                <p class="day">18</p>
                                                <p class="month">十二月</p>
                                            </div>
                                            <div>
                                                <p>20:00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <p class="o2-day-count-text animated slideInRight">距上次训练已经<span>7</span>天</p>
                                        <div class="row o2-course-progress">
                                            <div class="col-50">
                                                <p class="o2-course-status-text"><span>3</span>已上</p>
                                            </div>
                                            <div class="col-50">
                                                <p class="o2-course-status-text" style="text-align:right"><span>12</span>未上</p>
                                            </div>
                                        </div>
                                        <div class="progressbar o2-course-progress" style="height:8px" data-progress="20">
                                            <span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-20 o2-timeline-header-hr"></div>
                                <div class="o2-timeline-header-arrow"></div>
                                <div class="col-80 o2-timeline-header-hr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page-content" style="padding-top:175px;padding-bottom:40px">
                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
									<p class="o2-timline-date day">25
									<span class="o2-timline-date hr"></span>
									</p>
                                    <p class="o2-timline-date month">十二月</p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point-outline"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info unfilled">
                                                    <p><i class="ion-ios-help-outline"></i>
                                                    </p>
                                                    <p>体重</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-info o2-timeline-item unfilled" style="margin-left:5px">
                                                    <p><i class="ion-ios-camera-outline"></i>
                                                    </p>
                                                    <p>拍照</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
									<p class="o2-timline-date day">25
									<span class="o2-timline-date hr"></span>
									</p>
                                    <p class="o2-timline-date month">十月</p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info">
                                                    <p>90</p>
                                                    <p>KG</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
									<p class="o2-timline-date day">03
									<span class="o2-timline-date hr"></span>
									</p>
                                    <p class="o2-timline-date month">十月</p>
                                </div>

                                <div class="col-5">
                                    <div class="o2-timeline-point"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info">
                                                    <p>90</p>
                                                    <p>KG</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
									<p class="o2-timline-date day">25
									<span class="o2-timline-date hr"></span>
									</p>
                                    <p class="o2-timline-date month">九月</p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info o2-timline-item">
                                                    <p>92.3</p>
                                                    <p>KG</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="//cdn.bootcss.com/framework7/1.4.0/js/framework7.min.js"></script>
<script src="/static/js/customermobile/app.js"></script>

</html>
