{%verbatim%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/anim-in-out.css">
	<link href="//cdn.bootcss.com/angular-material/1.0.1/angular-material.min.css" rel="stylesheet">-->

    <link href="//cdn.bootcss.com/framework7/1.4.0/css/framework7.ios.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/framework7/1.4.0/css/framework7.ios.colors.min.css"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/customermobilecss/custom.css">
    <link href="/static/mobilecss/ionicons.min.css" rel="stylesheet" type="text/css"
    />
    <link href="/static/css/animate.min.css" rel="stylesheet">
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <p>Left panel content goes here</p>
        </div>
    </div>
    <div class="panel panel-right panel-cover">
        <div class="content-block">
            <p>Right panel content goes here</p>
        </div>
    </div>
    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div data-page="home" class="page">
                    <div class="navbar o2-timeline-nav">
                        <div class="content-block o2-timeline-header" style="margin-bottom:0">
                            <div class="row no-gutter o2-bg-gradient">
                                <div class="col-15 o2-book-header-item">
                                    <span class="ion-navicon"></span>
                                </div>
                                <div class="col-85 o2-book-header-item">
                                    <div class="row date">
                                        <h4><span class="hour">距离上次训练</span> <span class="month" style="font-size:36px">7</span><span class="hour">天</span></h4>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                                <div class="o2-book-header-item o2-book-header-coach">
                                    <div class="o2-book-header-mask">
                                    </div>
                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                </div>
                            </div>
                            <div class="row no-gutter o2-book-header-bottom" style="height: 15px; margin-top: -10px;background: #aaa;">
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                            </div>
                        </div>
                    </div>
                    <div id="o2-timeline" class="page-content" style="padding-top:90px;padding-bottom:40px">
                        <div class="card o2-timeline booking">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
                                    <p class="o2-timline-date day">
                                        <span class="o2-timline-date hr"></span>
                                    </p>
                                    <p class="o2-timline-date month"></p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point-gray"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info unfilled" id="booknow">
                                                    <p><i class="ion-ios-plus-outline"></i>
                                                    </p>
                                                    <p>预约</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
                                    <p class="o2-timline-date day">25
                                        <span class="o2-timline-date hr"></span>
                                    </p>
                                    <p class="o2-timline-date month">十二月</p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point-outline"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info unfilled">
                                                    <input id="weight-picker"></input>
                                                    <p><i class="ion-ios-help-outline"
                                                        id="setweight"></i>
                                                    </p>
                                                    <p>体重</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-info o2-timeline-item unfilled" style="margin-left:5px">
                                                    <p><i class="ion-ios-camera-outline"></i>
                                                    </p>
                                                    <p>拍照</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
                                    <p class="o2-timline-date day">25
                                        <span class="o2-timline-date hr"></span>
                                    </p>
                                    <p class="o2-timline-date month">十月</p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info">
                                                    <p>90</p>
                                                    <p>KG</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
                                    <p class="o2-timline-date day">03
                                        <span class="o2-timline-date hr"></span>
                                    </p>
                                    <p class="o2-timline-date month">十月</p>
                                </div>

                                <div class="col-5">
                                    <div class="o2-timeline-point"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info">
                                                    <p>90</p>
                                                    <p>KG</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card o2-timeline">
                            <div class="card-content row no-gutter">
                                <div class="col-20 o2-timeline-line">
                                    <p class="o2-timline-date day">25
                                        <span class="o2-timline-date hr"></span>
                                    </p>
                                    <p class="o2-timline-date month">九月</p>
                                </div>
                                <div class="col-5">
                                    <div class="o2-timeline-point"></div>
                                </div>
                                <div class="col-75">
                                    <div class="card">
                                        <div class="card-content-inner">
                                            <div>
                                                <div class="o2-timeline-info o2-timline-item">
                                                    <p>92.3</p>
                                                    <p>KG</p>
                                                </div>
                                            </div>
                                            <div class="o2-timeline-images">
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                                <div class="o2-timeline-item isimg">
                                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-screen modal-in">
        <div class="view">
            <div class="page">
                <div class="page-content login-screen-content o2-bg-gradient">
                    <div class="login-screen-title">登录</div>
                    <form>
                        <div class="list-block">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="text" name="username" placeholder="手机号码">
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="password" name="password" placeholder="密码">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li><a href="#" class="item-link list-button">Sign In</a>
                                </li>
                            </ul>
                            <div class="list-block-label">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.</p>
                                <p><a href="#" class="close-login-screen">Close Login Screen</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="//cdn.bootcss.com/framework7/1.4.0/js/framework7.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.11.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.11.1/locale/zh-cn.js"></script>
<script id="tpl_timelineitem" type="text/template7">
    <div class="card o2-timeline {{#if booking}}booking{{/if}}">
        <div class="card-content row no-gutter">
            {{#with date}}
            <div class="col-20 o2-timeline-line">
                <p class="o2-timline-date day">{{day}}
                    <span class="o2-timline-date hr"></span>
                </p>
                <p class="o2-timline-date month">{{month}}</p>
            </div>
            {{/with}}
            <div class="col-5">
                {{#if booking}}
                <div class="o2-timeline-point-gray"></div>
                {{else}} {{#if showscale}}
                <div class="o2-timeline-point-outline"></div>
                {{else}}
                <div class="o2-timeline-point-gray"></div>
                {{/if}} {{/if}}
            </div>
            <div class="col-75">
                <div class="card">
                    <div class="card-content-inner">
                        {{#if booking}}
                        <div>
                            <div class="o2-timeline-info unfilled" id="booknow">
                                <p><i class="ion-ios-plus-outline"></i>
                                </p>
                                <p>预约</p>
                            </div>
                        </div>
                        {{/if}} {{#if showscale}}
                        <div>
                            <div class="o2-timeline-info unfilled">
                                <input id="weight-picker"></input>
                                <p><i class="ion-ios-help-outline" id="setweight"></i>
                                </p>
                                <p>体重</p>
                            </div>
                        </div>
                        {{/if}} {{#unless booking}}
                        <div class="o2-timeline-images">
                            {{#each photos}}
                            <div class="o2-timeline-item isimg">
                                <img src="{{this}}">
                            </div>
                            {{/each}} {{#if showcamera}}
                            <div class="o2-timeline-info o2-timeline-item unfilled" style="margin-left:5px">
                                <p><i class="ion-ios-camera-outline"></i>
                                </p>
                                <p>拍照</p>
                            </div>
                            {{/if}}
                        </div>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="/static/js/customermobile/app.js"></script>
</html>
{%endverbatim%}
