{%verbatim%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/anim-in-out.css">
	<link href="//cdn.bootcss.com/angular-material/1.0.1/angular-material.min.css" rel="stylesheet">-->

    <link href="//cdn.bootcss.com/framework7/1.4.0/css/framework7.ios.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/framework7/1.4.0/css/framework7.ios.colors.min.css"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/customermobilecss/custom.css">
    <link href="/static/mobilecss/ionicons.min.css" rel="stylesheet" type="text/css"
    />
    <link href="/static/css/animate.min.css" rel="stylesheet">
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <p>Left panel content goes here</p>
        </div>
    </div>
    <div class="panel panel-right panel-cover">
        <div class="content-block">
            <p>Right panel content goes here</p>
        </div>
    </div>
    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div data-page="home" class="page">
                    <div class="navbar o2-timeline-nav">
                        <div class="content-block o2-timeline-header" style="margin-bottom:0">
                            <div class="row no-gutter o2-bg-gradient">
                                <div class="col-15 o2-book-header-item">
                                    <span class="ion-navicon"></span>
                                </div>
                                <div class="col-85 o2-book-header-item">
                                    <div class="row date">
                                        <h4><span class="hour">距离上次训练</span> <span class="month" style="font-size:36px">7</span><span class="hour">天</span></h4>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                                <div class="o2-book-header-item o2-book-header-coach">
                                    <div class="o2-book-header-mask">
                                    </div>
                                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                                </div>
                            </div>
                            <div class="row no-gutter o2-book-header-bottom" style="height: 15px; margin-top: -10px;background: #aaa;">
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                                <div class="col-auto"></div>
                            </div>
                        </div>
                    </div>
                    <input id="weight-picker">
                    <div id="o2-timeline" class="page-content" style="padding-top:60px;padding-bottom:40px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-screen modal-in">
        <div class="view">
            <div class="page">
                <div class="page-content login-screen-content">
                    <form>
                        <div class="list-block o2-login-form">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input id="phone" type="text" name="username" placeholder="手机号码">
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input id="pwd" type="password" name="password" placeholder="密码">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h4 id="o2-login-btn-touch"><a id="o2-login-btn" href="#">登录</a></h4>
                        </div>
                    </form>
                    <div class="o2-logo row">
                        <div class="o2-logo-title-container">
                            <div class="o2-logo-line-top"></div>
                            <h1 class="o2-logo-title">
								<span class="o2-logo-char-side o2-logo-char">氧</span>
								<span class="o2-logo-char-center-0 o2-logo-char">气</span>
								<span class="o2-logo-char-center-1 o2-logo-char">健</span>
								<span class="o2-logo-char-side o2-logo-char">身</span>
							</h1>
                            <div class="o2-logo-line-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="//cdn.bootcss.com/framework7/1.4.0/js/framework7.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.11.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.11.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/js-cookie/2.1.0/js.cookie.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script id="tpl_timelineitem" type="text/template7">
    <div class="card o2-timeline {{#if booking}}booking{{/if}}">
        <div class="card-content row no-gutter">
            {{#with date}}
            <div class="col-20 o2-timeline-line">
                <p class="o2-timline-date day">{{day}}
                    <span class="o2-timline-date hr"></span>
                </p>
                <p class="o2-timline-date month">{{month}}</p>
            </div>
            {{/with}}
            <div class="col-5">
                {{#if booking}}
                <div class="o2-timeline-point-gray"></div>
                {{else}} {{#if completed}}
                <div class="o2-timeline-point"></div>
                {{else}}
                <div class="o2-timeline-point-outline"></div>
                {{/if}} {{/if}}
            </div>
            <div class="col-75">
                <div class="card">
                    <div class="card-content-inner">
                        {{#if booking}}
                        <div>
                            <div class="o2-timeline-info unfilled" id="booknow">
                                <p><i class="ion-ios-plus-outline"></i>
                                </p>
                                <p>预约</p>
                            </div>
                        </div>
                        {{/if}} {{#if showscale}}
                        <div>
                            <div class="o2-timeline-info unfilled pickweight" data-id="{{id}}">
                                <p><i class="ion-ios-help-outline" id="setweight"></i>
                                </p>
                                <p>体重</p>
                            </div>
                        </div>
                        {{/if}} {{#if weight}}
                        <div>
                            <div class="o2-timeline-info pickweight" data-id="{{id}}">
                                <p>{{weight}}</p>
                                <p>KG</p>
                            </div>
                        </div>
						{{/if}}
						{{#if fromnow}}
                        <div>
                            <p class="o2-book-future-time">{{fromnow}}后</p>
                        </div>
						{{/if}}
						{{#unless booking}}
                        <div style="width:100%; overflow-x:scroll;height:65px">
                            <div data-id="{{id}}" class="o2-timeline-images">
                                {{#each photos}}
                                <div class="o2-timeline-item isimg" data-index="{{@index}}">
                                    <img src="{{this}}">
                                </div>
                                {{/each}} {{#if showcamera}}
                                <div data-id="{{id}}" class="o2-timeline-info o2-timeline-item camera unfilled"
                                style="margin-left:5px">
                                    <p><i class="ion-ios-camera-outline"></i>
                                    </p>
                                    <p>拍照</p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="/static/js/customermobile/app.js"></script>
</html>
{%endverbatim%}
