<div class="page" data-page="plandetail">
    <div class="navbar o2-timeline-nav">
        <div class="content-block o2-timeline-header" style="margin-bottom:0">
            <div class="row no-gutter o2-bg-gradient">
                <div class="col-15 o2-book-header-item">
                    <span class="back ion-ios-arrow-left"></span>
                </div>
                <div class="col-85 o2-book-header-item" id="o2-book-time">
                    <div class="row date">
                        <h4><span class="month"></span><span class="hour"></span> </h4>
                    </div>
                    <div class="row">
                    </div>
                </div>
                <div class="o2-book-header-item o2-book-header-coach">
                    <div class="o2-book-header-mask">
                    </div>
                    <img src="http://img3.imgtn.bdimg.com/it/u=1410273274,160173719&fm=21&gp=0.jpg">
                </div>
            </div>
            <div class="row no-gutter o2-book-header-bottom" style="height: 15px; margin-top: -10px;background: #aaa;">
				<div class="col-auto"></div>
				<div class="col-auto"></div>
				<div class="col-auto"></div>
				<div class="col-auto"></div>
				<div class="col-auto"></div>
				<div class="col-auto"></div>
				<div class="col-auto"></div>
				<div class="col-auto"></div>
            </div>
        </div>
    </div>
    <div class="page-content" id="plan-detail" style="padding-top:60px">
	</div>
</div>
