<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/anim-in-out.css">-->
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/framework.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/washington.css">
	<link href="//dn-o2fit.qbox.me/static/sweetalert.min.css" rel="stylesheet">
	<link href="//dn-o2fit.qbox.me/static/angular-material.min.css" rel="stylesheet">
	<link href="/static/css/animate.min.css" rel="stylesheet">
	<link rel="apple-touch-icon" href="/static/images/favicon.jpg" />

	<!--
    <link rel="shortcut icon" type="image/x-icon" href="images/logoStandford32.ico">
	<link rel="apple-touch-icon" href="images/logoStandford32.ico">

	-->

    <link href="/static/mobilecss/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/custom.css">
</head>

<body ng-app="o2m" style="height: 100%;width: 100%;overflow: auto;">
 <div id="agcontainer" ui-view class="body anim-in-out" ng-app="o2m" style="padding-top:0;">
    </div>
	<!--<script type="text/javascript" src="/static/js/modernizr.js"></script>-->
    <script src="//dn-o2fit.qbox.me/static/angular.min.js"></script>
	<script src="/static/js/angular-animate.min.js"></script>
	<script src="/static/js/angular-aria.min.js"></script>
    <script src="/static/js/angular-messages.min.js"></script>
	<script src="//dn-o2fit.qbox.me/static/angular-material.min.js"></script>

	<script src="//dn-o2fit.qbox.me/static/angular-touch.min.js"></script>
	
	<script src="//dn-o2fit.qbox.me/static/moment.min.js"></script>
	<script src="//dn-o2fit.qbox.me/static/zh-cn.js"></script>
    <script src="//dn-o2fit.qbox.me/static/underscore-min.js"></script>
    <script src="/static/js/angular-ui-router.min.js"></script>
    <script src="//dn-o2fit.qbox.me/static/restangular.min.js"></script>
	<script src="/static/js/angular-local-storage.min.js"></script>
    <script src="/static/js/jwt-decode.min.js"></script>
	<!--<script src="/static/js/anim-in-out.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
	<!--<script type="text/javascript" src="/static/js/framework.js"></script>-->
	<script src="//dn-o2fit.qbox.me/static/sweetalert.min.js"></script>
	<script src="/static/js/SweetAlert.min.js" ></script>
	<script src="/static/js/quupload.js" ></script>
    <script src="/static/js/mobile/app.js"></script>
    <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
</body>

</html>
