<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/anim-in-out.css">-->
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/framework.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/washington.css">
	<link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
	<link href="//cdn.bootcss.com/angular-material/1.0.1/angular-material.min.css" rel="stylesheet">
	<link href="/static/css/animate.min.css" rel="stylesheet">
    <script src="/static/js/webfont.js"></script>
    <script>
        WebFont.load(
        {
            google:
            {
                families: ["Montserrat:400,700"]
            }
        });
    </script>

	<!--
    <link rel="shortcut icon" type="image/x-icon" href="images/logoStandford32.ico">
	<link rel="apple-touch-icon" href="images/logoStandford32.ico">

	-->

    <link href="/static/mobilecss/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/custom.css">
</head>

<body ng-app="o2m">
		<!--
        <div class="page-content" id="main-stack">
            <div style="padding-top: 5px;height:45px" class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400"
            data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
                <div class="w-container">
                    <nav class="w-nav-menu nav-menu" role="navigation">
                        <div class="nav-menu-header" style="height:180px">
                            <div class="logo" id="coachname" style="text-align: center;"></div>
							<div class="image-message chat" style="    height: 80px;
								    width: 80px;
									    border-radius: 50%;"><img id="avatar">
								              </div>
                        </div>
                        <a class="w-clearfix w-inline-block nav-menu-link" href="#/">
                            <div class="icon-list-menu">
                                <div class="icon ion-ios-list-outline"></div>
                            </div>
                            <div class="nav-menu-titles">课表</div>
                        </a>
                        <a class="w-clearfix w-inline-block nav-menu-link" href="#/profile">
                            <div class="icon-list-menu">
                                <div class="icon ion-ios-body-outline"></div>
                            </div>
                            <div class="nav-menu-titles">个人资料</div>
                        </a>
						<a class="w-clearfix w-inline-block nav-menu-link" href="#/changepwd">
                            <div class="icon-list-menu">
                                <div class="icon ion-ios-locked-outline"></div>
                            </div>
                            <div class="nav-menu-titles">重置密码</div>
                        </a>
      
	                    <a class="w-clearfix w-inline-block nav-menu-link" href="/mobile/login">
                            <div class="icon-list-menu">
                                <div class="icon ion-log-out"></div>
                            </div>
                            <div class="nav-menu-titles">注销</div>
                        </a>
      
                        <div class="separator-bottom"></div>
                        <div class="separator-bottom"></div>
                        <div class="separator-bottom"></div>
                    </nav>
                    <div class="wrapper-mask" data-ix="menu-mask"></div>
                    <div class="navbar-title" id="page-title">我的主页</div>
                    <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
                        <div class="navbar-button-icon home-icon">
                            <div class="bar-home-icon"></div>
                            <div class="bar-home-icon"></div>
                            <div class="bar-home-icon"></div>
                        </div>
                    </div>
                    <a class="w-inline-block navbar-button right" id="neworder">
                        <div class="navbar-button-icon icon ion-ios-plus-empty"></div>
                    </a>
                    <a class="w-inline-block navbar-button right" id="back-button">
                        <div class="navbar-button-icon icon ion-ios-close-empty"></div>
                    </a>
                </div>
            </div>
        </div>
		-->
    <div id="agcontainer" ui-view class="body anim-in-out" ng-app="o2m" style="padding-top:0">
    </div>
	<!--<script type="text/javascript" src="/static/js/modernizr.js"></script>-->
    <script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
	<script src="/static/js/angular-animate.min.js"></script>
	<script src="/static/js/angular-aria.min.js"></script>
    <script src="/static/js/angular-messages.min.js"></script>
	<script src="//cdn.bootcss.com/angular-material/1.0.1/angular-material.min.js"></script>

<!--
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	
-->

	<script src="//cdn.bootcss.com/angular-touch/1.5.0-rc.0/angular-touch.min.js"></script>
	
	<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
	<script src="//cdn.bootcss.com/moment.js/2.11.1/locale/zh-cn.js"></script>
    <script src="//cdn.bootcss.com/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="/static/js/angular-ui-router.min.js"></script>
    <script src="//cdn.bootcss.com/restangular/1.5.1/restangular.min.js"></script>
	<script src="/static/js/angular-local-storage.min.js"></script>
    <script src="/static/js/jwt-decode.min.js"></script>
	<!--<script src="/static/js/anim-in-out.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
	<!--<script type="text/javascript" src="/static/js/framework.js"></script>-->
	<script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="/static/js/SweetAlert.min.js" ></script>
	<script src="/static/js/quupload.js" ></script>
    <script src="/static/js/mobile/app.js"></script>
    <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
</body>

</html>
