<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/framework.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilecss/washington.css">
    <script src="/static/js/webfont.js"></script>
    <script>
        WebFont.load(
        {
            google:
            {
                families: ["Montserrat:400,700"]
            }
        });
    </script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="images/logoStandford32.ico">
    <link rel="apple-touch-icon" href="images/logoStandford32.ico">

    <link href="/static/mobilecss/ionicons.min.css" rel="stylesheet" type="text/css"
    />
	<script src="//cdn.bootcss.com/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="//cdn.bootcss.com/restangular/1.5.1/restangular.min.js"></script>
   
</head>

<body>
    <section class="w-section mobile-wrapper" ng-app="o2m">
	 <div ui-view style="width:100%"> 载入中... ...</div>
    </section>
 <script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js" ></script>
    <!--  <script type="text/javascript" src="/static/js/framework.js"></script>-->
    <script src="/static/js/mobile/app.js"></script>
    <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
</body>

</html>
