@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(/static/fonts/Montserrat-Regular.ttf) format('truetype');
}
.coach-item {
    margin: 20px 10px;
    height: 300px;
    background: #fcfcfc;
    border-top: 1px solid rgb(250, 250, 250);
    border-left: 1px solid rgb(250, 250, 250);
    border-right: 2px solid rgb(216, 216, 216);
    border-bottom: 2px solid rgb(216, 216, 216);
}
.coach-avatar {
    text-align: center
}
.coach-avatar>img {
    border-radius: 50%;
    width: 50%;
}
.o2-book-header-bottom {
    height: 10px;
}
.o2-book-header-bottom>div {
    opacity: 0.8;
    height: inherit;
    display: inline-block;
    width: 12.5%;
}
.o2-book-header-bottom>div:nth-of-type(1) {
    background: #3bf4c9;
}
.o2-book-header-bottom>div:nth-of-type(2) {
    background: #3aeccc;
}
.o2-book-header-bottom>div:nth-of-type(3) {
    background: #39e2d0;
}
.o2-book-header-bottom>div:nth-of-type(4) {
    background: #39d9d3;
}
.o2-book-header-bottom>div:nth-of-type(5) {
    background: #38d0d6;
}
.o2-book-header-bottom>div:nth-of-type(6) {
    background: #38c9d9;
}
.o2-book-header-bottom>div:nth-of-type(7) {
    background: #37c4da;
}
.o2-book-header-bottom>div:nth-of-type(8) {
    background: #37c2d8;
}
.coach-profilo-cate {
    width: 180px;
    background: rgb(248, 248, 248);
}
.coach-profilo-cate > div {
    height: 90px;
    line-height: 90px;
    border-left: solid 1px rgb(240, 240, 240);
    border-bottom: solid 1px rgb(240, 240, 240)
}
.coach-profilo-cate > div.selected {
    height: 110px;
    line-height: 110px;
    border-left: solid 2px #39e2d0;
    box-shadow: inset -5px 0px 101px 2px rgb(232, 244, 244)
}
.coach-profilo-cate p {
    line-height: inherit;
    margin: 0;
    padding-left: 36px;
    font-size: 16px;
}
.coach-profilo-cate p span {
    display: none;
}
.coach-profilo-cate p a {
    display: inline;
    color: #aaa;
}
.coach-profilo-cate > div.selected p {
    color: #39e2d0;
    font-size: 40px;
    opacity: 0.65;
}
.coach-profilo-cate > div.selected p span {
    display: block
}
.coach-profilo-cate > div.selected p a {
    display: none
}
.coach-introduction p {
    text-align: center;
    font-size: 20px;
}
.coach-introduction p a {
    font-size: 20px;
    color: #aaa;
    /*color: rgb(132,218,198);*/
    margin-top: 30px;
}
.coach-item>.coach-item-mask {
    position: absolute;
    background: #eee;
    width: 100%;
    height: inherit;
    z-index: 1;
    opacity: 0.7;
}
.o2-bg-gradient {
    background: rgb(59, 247, 200);
    background: -moz-linear-gradient(-45deg, rgb(59, 247, 200) 0%, rgb(55, 194, 219) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(59, 247, 200)), color-stop(100%, rgb(55, 194, 219)));
    background: -webkit-linear-gradient(-45deg, rgb(59, 247, 200) 0%, rgb(55, 194, 219) 100%);
    background: -o-linear-gradient(-45deg, rgb(59, 247, 200) 0%, rgb(55, 194, 219) 100%);
    background: -ms-linear-gradient(-45deg, rgb(59, 247, 200) 0%, rgb(55, 194, 219) 100%);
    background: linear-gradient(135deg, rgb(59, 247, 200) 0%, rgb(55, 194, 219) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3bf7c8', endColorstr='#37c2db', GradientType=1);
    /*
    background: rgb(39, 225, 219);
    background: -moz-linear-gradient(-45deg, rgb(39, 225, 219) 0%, rgb(32, 221, 177) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(39, 225, 219)), color-stop(100%, rgb(32, 221, 177)));
    background: -webkit-linear-gradient(-45deg, rgb(39, 225, 219) 0%, rgb(32, 221, 177) 100%);
    background: -o-linear-gradient(-45deg, rgb(39, 225, 219) 0%, rgb(32, 221, 177) 100%);
    background: -ms-linear-gradient(-45deg, rgb(39, 225, 219) 0%, rgb(32, 221, 177) 100%);
    background: linear-gradient(135deg, rgb(39, 225, 219) 0%, rgb(32, 221, 177) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#27e1db', endColorstr='#20ddb1', GradientType=1);
	*/
}
.o2-bg-gradient-v2 {
    background: rgb(87, 193, 199);
    background: -moz-linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
    background: -webkit-linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
    background: linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
}
.price-row {
    margin: 0px 100px 10px 100px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    box-shadow: 1px 10px 40px 8px rgba(75, 208, 199, 0.3);
}
.price-item.active {
    -webkit-transform: -webkit-scale(1.2);
    transform: scale(1.2);
    height: 80px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 8px rgba(160, 160, 160, 0.4);
    -webkit-animation: head-scale-animation-b 0.6s;
    animation: head-scale-animation-b 0.6s;
}
.price-item > p {
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: white;
}
.price-item >p.title {
    line-height: 50px;
}
.price-item >p.description {
    color: rgba(66, 66, 66, 0.5);
    line-height: 40px;
    font-size: 16px;
    margin-top: -15px;
}
.price-item.active >p.title {
    color: #666;
    line-height: 40px;
    margin-top: 5px;
}
.price-item.active >p.description {
    color: rgba(66, 66, 66, 0.5);
    line-height: 40px;
    font-size: 16px;
    padding-top: 4px;
}
.price-item > p.title >span {
    font-size: 28px;
}
.bottom-hr {
    height: 4px;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.price-detail {
    padding: 15px 100px;
}
.course-item {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 10px solid white;
}
.course-item.hide {
    background: #ddd;
}
.course-item>img {
    position: absolute;
    height: 30px;
    width: 30px;
}
.price-detail-label {
    float: left;
    font-size: 20px;
    color: #777;
}
.price-detail-label span {
    font-family: Montserrat;
    font-size: 40px;
    margin-right: 10px;
}
.price-detail-off-row {
    margin-left: 80px;
    border-radius: 10px;
    overflow: hidden;
    background: #eee;
}
.price-detail-item-iconrow {
    float: right;
    margin-left: 80px;
    height: 50px;
}
.price-detail-off-percent {
    height: 10px;
    width: 35%;
}
.price-detail-on-percent {
    height: 10px;
    width: 65%;
    border-radius: 5px;
}
.price-detail-duration {
    margin-top: 30px;
}
.price-detail-duration-iconrow {
    float: right;
    margin-left: 80px;
}
.price-detail-duration-iconrow>span {
    color: #ddd;
    float: right;
    font-size: 40px;
    margin: 10px;
}
.price-detail-duration-iconrow>span.active {
    color: rgb(79, 204, 150);
}
.submit-btn {
    font-family: Montserrat;
    width: 200px;
    margin: auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 1px 10px 40px 8px rgba(75, 208, 199, 0.3);
}
.submit-btn span {
    color: rgba(255, 255, 255, 0.7);
}
.coach-list {
    margin: 30px 100px 100px 100px;
    border-radius: 10px;
    background: #ececec;
    box-shadow: 0px 10px 50px 10px rgba(160, 160, 160, 0.25);
}
.coach-item-new {
    padding-top: 20px;
    padding-bottom: 30px;
}
@keyframes head-scale-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@-webkit-keyframes head-scale-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes head-scale-animation-b {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@-webkit-keyframes head-scale-animation-b {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
.coach-item-new.active {
    border-radius: 8px;
    background: rgb(87, 193, 199);
    background: -moz-linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
    background: -webkit-linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
    background: linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
    -webkit-transform: -webkit-scale(1.2);
    transform: scale(1.2);
    -webkit-animation: head-scale-animation 0.4s ease;
    animation: head-scale-animation 0.4s ease;
    box-shadow: 1px 10px 40px 8px rgba(75, 208, 199, 0.3);
}
.coach-item-new.active .coach-introduction a {
    color: white;
    color: rgba(255, 255, 255, 0.7)
}
.coach-to-price {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    height: 60px;
}
.coach-to-price>a>span {
    width: 60px;
    height: 60px;
    display: block;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    margin: auto;
    font-size: 40px;
    box-shadow: 1px 1px 40px 20px rgba(75, 208, 199, 0.2);
}
.coach-gallary {
    font-size: 0;
    padding: 0 60px;
}
.coach-gallary img {
    width: 100%;
}
.coach-gallary .coach-img {
    display: inline-block;
    width: 12.5% !important;
}
.customer-form {
    padding: 0 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.customer-form li {
    padding-top: 40px;
}
.customer-form .item-title,
.customer-form .item-input {
    font-size: 24px;
    font-weight: bolder;
    color: #666;
}
.customer-form .item-input input:focus {
    border-bottom: 4px solid rgb(87, 193, 199);
}
.list-block ul:before,
.list-block ul:after {
    background: white;
}
.line {
    height: 2px;
    width: 100px;
    margin: auto;
    border-radius: 1px;
    background: #555;
}
.brand {
    font-size: 40px;
    margin: auto;
    text-align: center;
    width: 200px;
    margin-top: -2px;
    ;
    color: #444;
    /*font-weight: bold*/
    /*
    background: -webkit-linear-gradient(45deg, rgb(87, 193, 199) 0%, rgb(75, 208, 123) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	*/
}
#qrarea>img {
    width: 200px;
    height: 200px;
    margin: auto;
}
.pay-text {
    font-size: 26px;
    text-align: center;
    color: #777;
}
#pay-done {
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.8)
}
.customer-restriction {
    margin: 10px 120px;
    color: #999;
}
.menu-icon {
    font-size: 40px;
    padding-left: 20px;
    color: #aaa;
    position: absolute;
    margin-top: -35px;
}
.panel {
    background: #f3f3f3;
}
#coach-introduction-card .card-content-inner {
    padding: 0;
}
#coach-introduction-card img {
    width: 100%;
}
.coach-introduction-name {
    border: solid 1px white;
    color: white;
    position: absolute;
    left: 4px;
    top: 6px;
    opacity: 0.9;
    padding: 2px 8px;
    border-radius: 4px;
    /*box-shadow: 1px 10px 40px 8px rgba(75, 208, 199, 0.3);*/
    background: rgba(0, 0, 0, .3);
}
.coach-button {
    width: 70px;
    float: right;
    font-family: Montserrat;
    color: white;
    border: none;
    font-size: 14px;
}
.coach-button-outline {
    border-color: rgb(75, 208, 199);
    color: rgb(75, 208, 199);
    width: 70px;
    float: right;
    font-family: Montserrat;
    font-size: 14px;
}
.swiper-slide img {
    width: 100%;
}
#coach-introduction-card .card {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 30px 10px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgb(75, 208, 199);
    box-shadow: 1px 1px 2px 2px rgba(75, 208, 199, 0.2);
}
.tabbar a.active i {
    color: white;
    background: rgb(75, 208, 199);
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}
.tabbar a.active {
    color: rgb(75, 208, 199);
}
.coach-dating {
    display: inline-block;
    background: white;
}
.coach-dating>.coach-dating-btn {
    border: 1px solid rgb(75, 208, 199);
    height: 99%;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(75, 208, 199);
    text-align: center;
}
.coach-photo {
    font-size: 0;
    display: inline-block;
}
.book-free {
    padding: 0 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.book-free li {
    padding-top: 18px;
}
.book-free .item-title,
.book-free .item-input {
    font-size: 14px !important;
    font-weight: bolder;
    color: #666;
}
.book-free .item-input input:focus {
    border-bottom: 2px solid rgb(87, 193, 199);
}
.book-free-restriction {
    margin: 5px 40px;
    color: #999;
    font-size: 12px;
}
#cancel-free-submit,
#book-free-submit {
    width: 60px;
    text-align: center;
    margin: auto;
    border: none;
    color: white;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
	margin-top: 20px;
}

#wx-submit{
    width: 80px;
    text-align: center;
    margin: auto;
    border: none;
    color: white;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
	margin-top: 20px;
}

.introduction-title{
	padding-left: 20px;
	font-size: 16px;
	color: #666
}
.introduction-detail{
	padding-left: 20px;
	font-size: 14px;
	color: #999;
	padding-left:30px;
}
.customer-step>p {
	margin-bottom: 0;
	line-height: 30px;
	margin-top: 8px;
	text-align: center;
	font-size: 14px;
	color: #999;
}



.customer-step>p>span {
    height: 20px;
    display: inline-block;
    width: 20px;
    background: #ccc;
    line-height: 20px;
    border-radius: 50%;
    color: white;
    margin-right: 4px;
    font-size: 14px;
}
.customer-step.active>p>span {
    background: rgba(79, 210, 194, 0.8);
}

.customer-step.active>p {
    color: rgba(79, 210, 194, 0.8);
}

#hide-introduction {
	margin-top:10px;
    font-size: 28px;
    line-height: 34px;
    border: 1px solid rgba(79, 210, 194, 0.8);
    color: rgba(79, 210, 194, 0.8);
    width: 36px;
	height: 36px;
    margin: auto;
	border-radius: 50%;
	margin-bottom: 20px;
}
.free-date-title{
	font-size:18px;
	padding-left: 20px;
	margin: 0;
	line-height: 50px;
	background: #f7f7f6;
    color: #666;
	text-align:center;
}

.free-date-row{
	margin-top: 0;
	text-align: center;
	background: #f7f7f6;
	border-bottom: solid 1px #ddd;
}
.free-date-item {
	height: 50px;
	line-height: 50px;
}
.free-date-item.active{
    background: rgba(79, 210, 194, 0.8);
	color: white;
	border-radius: 2px;
	font-size: 18px;
}

.free-date-item.active .free-date-weekday{
	display:none
}
.free-date-item.active .free-date-day{
	font-size: 24px;
	line-height: 50px;
	color:white;
}
.free-date-item.disable{
	color: #aaa;
	background: #eee;
}
.free-date-item>p{
	margin: 0;
	text-align:center;
}
.free-date-weekday {
	font-size: 10px;
	line-height: 24px;
	color: #aaa;
}
.free-date-day {
	font-size: 18px;
	line-height: 30px;
	color: #666;
}
.book-free-round {
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    border: 1px solid rgb(79, 210, 194);
    color: rgb(79, 210, 194);
	position: absolute;
    right: 20px;
    top: 20px;
}
.book-free-round.disable {
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    border: 1px solid #aaa;
    color: #aaa;
	position: absolute;
    right: 20px;
    top: 20px;
}
.prev-week,
.next-week {
	font-size: 18px;
	line-height: 50px;
	text-align:center;
	margin-left: 5px;
	margin-right: 5px;
}
.tabbar-label{
	font-size:14px !important;
}
