
<html>
<head>
<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<h2 style="text-align:center;font-size:6rem">氧气健身教练常用文档</h2>

	<table class="table" style="margin:40px;font-size:4rem">
		<tr>
			<td>朋友圈内容指南</td>
			<td><a href="https://dn-o2fit.qbox.me/朋友圈内容指南.pdf">查看</a></td>
		<tr>
		<tr>
			<td>高危客户处理</td>
			<td><a href="https://dn-o2fit.qbox.me/%E9%AB%98%E5%8D%B1%E5%AE%A2%E6%88%B7%E5%A4%84%E7%90%86%E8%A1%A8.pdf">查看</a></td>
		<tr>
		<tr>
			<td>体验课标准</td>
			<td><a href="https://dn-o2fit.qbox.me/%E4%BD%93%E9%AA%8C%E8%AF%BE%E8%AE%AD%E7%BB%83%E6%A0%87%E5%87%86.pdf">查看</a></td>
		<tr>
	</table>
</body>
</html>
