 <!DOCTYPE html>
{% load staticfiles %}
 <html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE9”>
    <meta http-equiv=”X-UA-Compatible” content=”IE=9”>
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <title>氧气健身</title>
    <!--Core CSS -->
	<link href="{% static "bs3/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "js/jquery-ui/jquery-ui-1.10.1.custom.min.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/bootstrap-reset.css" %}" rel="stylesheet">
	<link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
	<link href="{% static "js/jvector-map/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/clndr.css" %}" rel="stylesheet">
    <!--clock css-->
	<link href="{% static "js/css3clock/css/style.css" %}" rel="stylesheet">
    <!--Morris Chart CSS -->
	<link rel="stylesheet" href="{% static "js/morris-chart/morris.css"%}" >
    <!-- Custom styles for this template -->
	<link href="{% static "consolecss/style.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/o2custom.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/style-responsive.css" %}" rel="stylesheet"/>
	<link href="{% static "consolecss/ng-table.min.css" %}" rel="stylesheet"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	 <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.js"></script>
     <script src="//cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

</head>
 </body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a href="index.html" class="logo">
        <img src="/static/images/logo.png" alt="" style="width:40px;display:inline-block">
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
</div>
<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="/static/images/favicon.ico" id="useravatar">
                <span class="username" id="username">John Doe</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->
        <li>
            <div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
        </li>
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="#/">
                        <i class="fa fa-dashboard"></i>
                        <span>前台</span>
                    </a>
                </li>
	            <li>
                    <a href="#customers">
                        <i class="fa fa-group"></i>
                        <span>客户信息</span>
                    </a>
                </li>
	            <li>
                    <a href="#sale">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>销售统计</span>
                    </a>
                </li>
	            <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa  fa-credit-card"></i>
                        <span>工资结算</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#salarysummary">工资结算</a></li>
                        <li><a href="#salarysetting">工资设置</a></li>
					</ul>
                </li>
    
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span>付费与支持</span>
                    </a>
                    <ul class="sub">
                        <li><a href="boxed_page.html">技术支持</a></li>
                        <li><a href="horizontal_menu.html">付费信息</a></li>
                    </ul>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
<section class="wrapper" ng-app="JobApp">
	 <div ui-view> 载入中... ...</div>
</section>
</section>

<script src="/static/js/jquery.js"></script>
<script src="//cdn.bootcss.com/restangular/1.5.1/restangular.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/static/bs3/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>
<script src="/static/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="/static/js/skycons/skycons.js"></script>
<script src="/static/js/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/js/calendar/clndr.js"></script>
<script src="//cdn.bootcss.com/underscore.js/1.5.2/underscore-min.js"></script>
<script src="/static/js/calendar/moment-2.2.1.js"></script>
<script src="/static/js/evnt.calendar.init.js"></script>
<script src="/static/js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/static/js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
<script src="/static/js/gauge/gauge.js"></script>
<!--clock init-->
<script src="/static/js/css3clock/js/css3clock.js"></script>
<!--Easy Pie Chart-->
<script src="/static/js/easypiechart/jquery.easypiechart.js"></script>
<!--Sparkline Chart-->
<script src="/static/js/sparkline/jquery.sparkline.js"></script>
<!--Morris Chart-->
<script src="/static/js/morris-chart/morris.js"></script>
<script src="/static/js/morris-chart/raphael-min.js"></script>
<!--jQuery Flot Chart
<script src="/static/js/flot-chart/jquery.flot.js"></script>
<script src="/static/js/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="/static/js/flot-chart/jquery.flot.resize.js"></script>
<script src="/static/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="/static/js/flot-chart/jquery.flot.animator.min.js"></script>
<script src="/static/js/flot-chart/jquery.flot.growraf.js"></script>
<script src="/static/js/dashboard.js"></script>
-->


<script src="/static/js/ng-table.min.js" ></script>
<script src="/static/js/jquery.customSelect.min.js" ></script>
<!--common script init for all pages-->
<script src="/static/js/scripts.js"></script>
<!--script for this page-->
<script src="/static/js/jwt-decode.min.js" ></script>
<script src="/static/js/ngSlimscroll.min.js" ></script>
<script src="{% static "js/jquery.cookie.js" %}" ></script>
<script>
	//load user info by token
	var USER = null
	function getusrauth(){
		console.log($.cookie())
		if($.cookie("token")){
			console.log($.cookie("token"))
			return decoded = jwt_decode($.cookie("token"));
		} else {
			window.location = "/console/login/"
		}
	}
	function refreshuser(authinfo){
		$.get("/api/" + authinfo.username + "/", function(data){
			USER = data
			$.cookie("user", USER, {path:"/"})
			$.cookie("gym", USER.gym_id[0], {path:"/"})
			$("#username").html(data.displayname)
			$("#useravatar").attr("src", data.avatar)
		}).fail(function(resp){
			
		})
	}
	
	$(function(){
		refreshuser(getusrauth())
	})

</script>

<script src="/static/js/console/app.js"></script>



 </body>


 </html>
