 <!DOCTYPE html>
{% load staticfiles %}
 <html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE9”>
    <meta http-equiv=”X-UA-Compatible” content=”IE=9”>
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <title>氧气健身</title>
    <!--Core CSS -->
	<link href="{% static "bs3/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "js/jquery-ui/jquery-ui-1.10.1.custom.min.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/bootstrap-reset.css" %}" rel="stylesheet">
	<link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/ng-table.min.css" %}" rel="stylesheet"/>
	<link href="{% static "css/angular-datepicker.min.css" %}" rel="stylesheet"/>
	<link href="http://static.o2-fit.com/static/sweetalert.min.css" rel="stylesheet">

	<link href="http://static.o2-fit.com/static/ladda-themeless.min.css" rel="stylesheet">

	<!--
	<link href="{% static "js/jvector-map/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/clndr.css" %}" rel="stylesheet">
	<link href="{% static "js/css3clock/css/style.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "js/morris-chart/morris.css"%}" >
	-->
	<link href="{% static "consolecss/style.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/o2custom.css" %}" rel="stylesheet">
	<link href="{% static "consolecss/style-responsive.css" %}" rel="stylesheet">
	<link href="http://static.o2-fit.com/static/bootstrap-switch.min.css">
	<link href="http://static.o2-fit.com/static/angular-chart.min.css" rel="stylesheet" rel="stylesheet">
	<link href="http://static.o2-fit.com/static/angular-bootstrap-lightbox.min.css" rel="stylesheet">
	<link href="http://static.o2-fit.com/static/rzslider.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<!--<link href="{% static "consolecss/bootstrap-datepicker/css/datepicker.css" %}"
	rel="stylesheet"/>-->

</head>

 <body id="consolescreen">
<section id="lockscreen" class="lock-screen" onload="startTime()" style="display:none;height: 100%;
    position: absolute;
    width: 100%;">
    <div class="lock-wrapper">

        <div id="time"></div>


        <div class="lock-box text-center">
            <div class="lock-name" id="lockusername"></div>
            <img id="lockuseravatar"  alt="lock avatar" />
            <div class="lock-pwd">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="password" placeholder="Password" id="pwd" class="form-control
						lock-input"  autocomplete="off">
                        <button class="btn btn-lock" onclick="tryunlock()">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
		<p id="login-error" style="padding-top: 200px;
		    color: white;
			    text-align: center;
				    font-size: 18px;"></p>
    </div>
</section>

<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
<!--    <a href="index.html" class="logo">
        <img src="/static/images/logo.png" alt="" style="width:40px;display:inline-block">
    </a>
	-->
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
	<div class="nav" style="padding-right: 10px;">
        <li class="dropdown" style="margin-top: -1px;">
            <a data-toggle="dropdown" class="dropdown-toggle"
				style="white-space: nowrap;padding:0;line-height: 60px; background-color: #1FB5AD !important; text-align:center;" href="#">
                <span class="username" id="gym-name" style="color:#fff;
					margin-left:10px;font-size:16px;white-space: nowrap;"></span>
				<b class="caret" style="border-bottom-color: white;border-top-color: white;"></b>
            </a>
            <ul class="dropdown-menu extended logout" id="profile-menu" style="right: auto; width: 250px !important">
           <!--     <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
				-->
                <li><a href="#/newgym"><i class="fa fa-key"></i>添加健身房</a></li>
            </ul>
        </li>
	</div>
</div>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    
</div>
<div class="top-nav clearfix">
	<ul class="nav pull-left top-menu admin-show">
        <!-- user login dropdown start-->
        <li id="header_notification_bar" class="dropdown" style="margin-top: 5px;">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                <i class="fa fa-bell-o"></i>
                <span class="noti badge bg-warning" id="incomplete-count">0</span>
            </a>
            <ul id="incomplete" class="dropdown-menu extended notification">
                <li>
                    <p>未完成课程</p>
                </li>
                <li>
                    <div class="alert alert-success clearfix">
                        <span class="alert-icon"><i class="fa fa-clock-o"></i></span>
                        <div class="noti-info">
                            <a href="#"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
	    <li class="dropdown" style="margin-top: 5px;margin-left:25px">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-gift" style="font-size: 22px;"></i>
                <span class="noti badge bg-success" id="birthdays-count">0</span>
            </a>
            <ul id="birthdays" class="dropdown-menu extended notification">
                <li>
                    <p>生日提醒</p>
                </li>
                <li>
                    <div class="alert alert-success clearfix">
                        <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                        <div class="noti-info">
                            <a href="#"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
	    <li id="dead-order-noti" class="dropdown" style="margin-top: 5px;margin-left:25px">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-bolt" style="font-size: 22px;"></i>
                <span class="noti badge bg-info" id="deadorder-count">0</span>
            </a>
            <ul id="deadorder" class="dropdown-menu extended notification">
                <li>
                    <p>临期提醒</p>
                </li>
                <li>
                    <div class="alert alert-success clearfix">
                        <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                        <div class="noti-info">
                            <a href="#"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <!--search & user info start-->

    <ul class="nav pull-right top-menu">
        <li>
            <input id="customer-search" type="text" class="form-control search" placeholder="输入用户姓名/首字母">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="/static/images/favicon.ico" id="useravatar">
                <span class="username" id="username">载入中</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a id="logout"><i class="fa fa-key"></i>注销</a></li>
            </ul>
        </li>
		<li>
            <div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
        </li>

    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a  class="active" href="#/">
                        <i class="fa fa-bars"></i>
                        <span>今日概览</span>
                    </a>
                </li>
	            <li>
                    <a href="#groupcourse">
                        <i class="fa fa-align-center"></i>
                        <span>团课管理</span>
                    </a>
                </li>
	            <li>
                    <a href="#customers">
                        <i class="fa fa-group"></i>
                        <span>客户信息</span>
                    </a>
                </li>
               <li class="admin-show">
                    <a href="#/coaches">
                        <i class="fa fa-th"></i>
                        <span>教练管理</span>
                    </a>
                </li>
	            <li >
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>数据统计</span>
                    </a>
                    <ul class="sub">
                        <li class="admin-show"><a href="#sale">销售详情</a></li>
                        <li class="admin-show"><a href="#history">历史数据</a></li>
                        <li><a href="#finance">收支记录</a></li>
                        <li><a href="#flow">流量数据</a></li>
                        <li class="admin-show backdoor"><a href="#coachkpi">KPI</a></li>
                        <li class="admin-show backdoor"><a href="#survey">用户调研</a></li>
					</ul>
				</li>
	            <li class="sub-menu admin-show">
                    <a href="javascript:;">
                        <i class="fa  fa-credit-card"></i>
                        <span>工资结算</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#salarysummary">工资结算</a></li>
                        <li><a href="#salarysetting">工资设置</a></li>
					</ul>
                </li>
	            <li class="admin-show">
                    <a href="#settings" >
                        <i class="fa fa-laptop"></i>
                        <span>门店设置</span>
                    </a>
                </li>
	            <li class="admin-show">
                    <a href="#docs" >
                        <i class="fa fa-folder-o"></i>
                        <span>文档管理</span>
                    </a>
                </li>
	            <li class="admin-show">
                    <a href="#video" >
                        <i class="fa  fa-youtube-play"></i>
                        <span>视频管理</span>
                    </a>
                </li>
	            <li class="admin-show">
                    <a href="/whatsnew/" >
                        <i class="fa fa-barcode"></i>
                        <span>更新日志</span>
                    </a>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
<section class="wrapper" ng-app="JobApp">
	 <div ui-view> 载入中... ...</div>
</section>
</section>
<div class="right-sidebar">
<div class="search-row">
	<p style="color:white">快捷记录</p>
    <!--<input type="text" placeholder="Search" class="form-control">-->
</div>
<div class="right-stat-bar" tabindex="5001" style="overflow: hidden; outline: none;">
<ul class="right-side-accordion">
<li class="widget-collapsible">
    <a href="#" class="head widget-head terques-bg active clearfix">
        <span class="pull-left">流量统计</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>团购</h4>
                    <p>
                        团购消费数量
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell" style="padding: 0px; position: relative;">
						<p style="line-height:40px;font-size:24px;color:#fa8564" class="red"><span class="right-sidebar-action" data-action="add" data-option="groupon">+</span> <span id="flow-groupon">0</span> <span class="right-sidebar-action" data-action="minus" data-option="groupon">-</span></p>
					</div>
                </div>
            </div>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>到店</h4>
                    <p>
                    	到店客户数量
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell" style="padding: 0px; position: relative;">
						<p style="line-height:40px;font-size:24px;color:#fa8564"><span class="right-sidebar-action" data-action="add" data-option="direct">+</span> <span id="flow-direct">0</span> <span class="right-sidebar-action" data-action="minus" data-option="direct">-</span></p>
					</div>
                </div>
            </div>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>电话</h4>
                    <p>
                    	电话咨询数量
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell" style="padding: 0px; position: relative;">
						<p style="line-height:40px;font-size:24px;color:#fa8564"><span class="right-sidebar-action" data-action="add" data-option="phone_call">+</span> <span id="flow-phone_call">0</span> <span class="right-sidebar-action" data-action="minus" data-option="phone_call">-</span></p>
					</div>
                </div>
            </div>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>转介</h4>
                    <p>
                    	客户介绍数量
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell" style="padding: 0px; position: relative;">
						<p style="line-height:40px;font-size:24px;color:#fa8564"><span class="right-sidebar-action" data-action="add" data-option="by_customer">+</span> <span id="flow-by_customer">0</span> <span class="right-sidebar-action" data-action="minus" data-option="by_customer">-</span></p>
					</div>
                </div>
            </div>
        </li>
    </ul>
</li>
</ul>

</div>

<div id="ascrail2001" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: 74px; left: 237px; height: 703px; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 322px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2001-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 774px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div></div>

	 <script src="http://static.o2-fit.com/static/angular.min.js"></script>
     <script src="http://static.o2-fit.com/static/angular-ui-router.min.js"></script>
	 <script src="http://static.o2-fit.com/static/ui-bootstrap.min.js"></script>
	 <script src="http://static.o2-fit.com/static/ui-bootstrap-tpls.min.js"></script>
	 <script src="http://static.o2-fit.com/static/angular-locale_zh-cn.min.js"></script>
	<script src="http://static.o2-fit.com/static/Chart.min.js"></script>
	<script src="http://static.o2-fit.com/static/angular-chart.min.js"></script>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="http://static.o2-fit.com/static/bootstrap.min.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>
<script src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>
<script src="/static/js/jquery.autocomplete.min.js"></script>

<script src="http://static.o2-fit.com/static/spin.min.js"></script>
<script src="http://static.o2-fit.com/static/ladda.min.js"></script>

<script src="http://static.o2-fit.com/static/bootstrap-switch.min.js"></script>
<script src="http://static.o2-fit.com/static/restangular.min.js"></script>
<script src="http://static.o2-fit.com/static/jquery.easing.min.js"></script>
<script src="http://static.o2-fit.com/static/underscore-min.1.8.3.js"></script>
<script src="http://static.o2-fit.com/static/sweetalert.min.js"></script>
<script src="/static/js/angular-local-storage.min.js"></script>
<script src="/static/js/SweetAlert.min.js" ></script>
<script src="/static/js/ng-table.min.js" ></script>
<script src="/static/js/jquery.customSelect.min.js" ></script>
<!--common script init for all pages-->
<script src="/static/js/scripts.js"></script>
<script src="/static/js/angular-datepicker.min.js"></script>
<!--script for this page-->
<script src="/static/js/jwt-decode.min.js" ></script>
<script src="/static/js/ngSlimscroll.min.js" ></script>
<script src="{% static "js/jquery.cookie.js" %}" ></script>
<script src="//cdn.bootcss.com/angular-bootstrap-lightbox/0.12.0/angular-bootstrap-lightbox.min.js"></script>
<script src="/static/js/quupload.js" ></script>
<script src="/static/js/angular-ladda.min.js" ></script>
<script src="//cdn.bootcss.com/signature_pad/1.5.3/signature_pad.min.js"></script>
<script src="/static/js/angular-ladda.min.js" ></script>
<script src="/static/js/angular-pageslide-directive.min.js"></script>
<script src="/static/js/ng-flow-standalone.min.js"></script>
<script src="//cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="//cdn.bootcss.com/ngclipboard/1.1.1/ngclipboard.min.js"></script>
<script>
	//load user info by token
	var USER = null
	var $gymlist = []
	$(".admin-show").hide()
	var incompleteid = false
	function getusrauth(){
		console.log($.cookie())
		if($.cookie("token")){
			console.log($.cookie("token"))
			return decoded = jwt_decode($.cookie("token"));
		} else {
		$.removeCookie("user", {path:"/"})
		$.removeCookie("gym", {path:"/"})
		$.removeCookie("autologin", {path:"/"})
			window.location = "/console/login/"
		}
	}
	function showbackdoor(){
	}
	function refreshuser(authinfo,gymid){
		$.get("/api/" + authinfo.username + "/", function(data){
			USER = data
			$.cookie("user", USER.name, {path:"/"})
			$.cookie("displayname", USER.displayname, {path:"/"})
			if(gymid == undefined){
				$.cookie("gym", USER.gym_id[0], {path:"/"})
			}else {
				$.cookie("gym", gymid, {path:"/"})
			}
			if($.cookie("gym") == 19 || $.cookie("gym") == 31){
				$(".backdoor").show()
			} else {
				$(".backdoor").hide()
			}

			$.cookie("role", data.role, {path:"/"})

			$("#username").html(data.displayname)
			$("#lockusername").html(data.displayname)
			$("#useravatar").attr("src", data.avatar + "?imageView2/1/w/128/h/128/format/jpg")
			$("#lockuseravatar").attr("src", data.avatar + "?imageView2/1/w/180/h/180/format/jpg")
			if(data.role == "admin"){
				$(".admin-show").show()
			}
			$gymlist = data.corps_list
			refreshcorner()
			getincomplete()
			if(incompleteid){
				clearInterval(incompleteid)
			}
			incompleteid = setInterval(getincomplete,1800000)
			getdeadorders()
			
			initflow()
		}).fail(function(resp){
			
		})
	}
	function refreshcorner(needrefresh){
		var update = function(){
			var ori = ""
			$.each($gymlist,function(i,item){
				if(item.k ==  $.cookie("gym")){
					$("#gym-name").html(item.v)
					ori += '<li><a style="color:#1fb5ac;font-size:14px" href="#/gym/'+ item.k + '"><i class="fa fa-check-circle-o"></i><strong>' + item.v + '</strong></a></li>'
				} else{
					ori += '<li><a href="#/gym/'+ item.k + '"><i class="fa fa-circle-o"></i>' + item.v + '</a></li>'
				}
			})
			ori += '<li><a href="#/newgym"><i class="fa fa-plus-circle"></i>添加分店</a></li>'
			$("#profile-menu").html(ori)
		}
		if(needrefresh){
			refreshuser(getusrauth())
		} else {
			update()
		}
	}
	function getincomplete(){
        var itemtemplate = '<li><div class="alert alert-success clearfix"><span class="alert-icon"><i class="fa fa-bolt"></i></span><div class="noti-info"><a href="#">__</a></div></div></li>'
		$("#incomplete").html("")
		$("#incomplete").append("<li><p>未完成课程</p></li>")
		$.get("/api/g/" + $.cookie("gym") + "/incomplete/", function(data){
				$("#incomplete-count").html(data.length)
				_.each(data, function(item){
					$("#incomplete").append(itemtemplate.replace(/__/,'<a href="#/order/' + item.coachprofile.name + "/" + item.order + '">' + item.date + "&nbsp;&nbsp;&nbsp;" + item.customerprofile.displayname + "</a>"))
				})
		})
	}
	function getbirthdays(data){
        var itemtemplate = '<li><div class="alert alert-success clearfix" style="padding-top:0"><div class="noti-info"><a href="#">__</a></div></div></li>'
		$("#birthdays").html("")
		$("#birthdays").append("<li><p>生日提醒</p></li>")

		var filtered = _.filter(data, function(item){ 
			return item.birthday && item.birthday.substring(5) == new Date().Format("MM-dd")
		})

		$("#birthdays-count").html(filtered.length)
		_.each(filtered, function(item){
			if(item.birthday){
				$("#birthdays").append(itemtemplate.replace(/__/,'<a>' + item.displayname + "</a>"))
			}
		})
	}
	function getdeadorders(){
        var itemtemplate = '<li><div class="alert alert-success clearfix"><span class="alert-icon"><i class="fa fa-bolt"></i></span><div class="noti-info"><a href="#">__</a></div></div></li>'
		$("#deadorder").html("")
		$("#deadorder").append("<li><p>临期课程(10天)</p></li>")
		$.get("/api/g/" + $.cookie("gym") + "/deadorder/", function(data){
				$("#deadorder-count").html(data.length)
				if(data.length == 0){
					$("dead-order-noti").hide();
				}
				_.each(data, function(item){
					$("#deadorder").append(itemtemplate.replace(/__/,'<a href="#/order/' + item.coachdetail.name + "/" + item.id + '">' + item.endtime + "&nbsp;&nbsp;&nbsp;" + item.complete_status + "&nbsp;&nbsp;&nbsp;" + item.customerdetail.displayname + "</a>"))
				})
		})
	}

	function initflow(){

		var date = new Date().Format("yyyyMMdd")
		$.get("/api/g/" + $.cookie("gym") + "/flow/" + date + "/", function(data){
			$("#flow-direct").html(data.direct)
			$("#flow-groupon").html(data.groupon)
			$("#flow-phone_call").html(data.phone_call)
			$("#flow-by_customer").html(data.by_customer)
		})

	}
	function refreshflowcount(item,value){
		 $("#flow-"+item).html(value)
	}
	function saveflowcount(item,value){
		var date = new Date().Format("yyyyMMdd")
		var data = {
		}
		data[item] = value

		var url = "/api/g/" + $.cookie("gym") + "/flow/" + date + "/"
		$.ajax({ 
		    url: url,
		    type: 'PATCH',
		    data: data 
		});
	}
	function trylockscreen(){
		var t = new Date().getTime()
		if(!$('#lockscreen').is(':hidden')){
			return 
		}
		if(t - $.cookie("lastrequest") > 300000){
			$("#lockscreen").show()
			$("#container").hide()
			$.cookie("locked", 1, {path:"/"})
			startTime()
			$("#pwd").attr("disabled", true)
			$("#pwd").val(" ")
			setTimeout(function(){
				$("#pwd").attr("disabled", false)
				$("#pwd").val("")
　　　　	},1000)
		}
		
	}
    function tryunlock() {
        var pwd = $("#pwd").val()
		var usrname = $.cookie("user")
        $.post("/api/lg/", {
            username: usrname,
            password: pwd
        }, function(data, status) {
            $.cookie("token", data.token, {
                path: '/'
            })
			unlockscreen()
        }).fail(function(resp) {
            if (resp.status == 403) {
                $("#login-error").html("错误的密码")
            }
        })
    }

	function unlockscreen(){
		$("#lockscreen").hide()
		$("#container").show()
		$.cookie("locked", 0, {path:"/"})
	}
    function startTime()
        {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            // add a zero in front of numbers<10
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML = h + ":" + m + ":" +
                s;
            t = setTimeout(function()
            {
                startTime()
            }, 500);
        }

        function checkTime(i)
        {
            if (i < 10)
            {
                i = "0" + i;
            }
            return i;
        }



	$(function(){
		if($.cookie("locked") === "1"){
			trylockscreen()
		} else {
			var t = new Date().getTime()
			$.cookie("lastrequest", t, {path:"/"})
		}

		setInterval(trylockscreen,120000)
		refreshuser(getusrauth())
		$("#logout").click(function(){
			$.removeCookie("user", {path:"/"})
			$.removeCookie("gym", {path:"/"})
			$.removeCookie("role", {path:"/"})
			$.removeCookie("autologin", {path:"/"})
			window.location = "/console/login/"
		})
		$(".right-sidebar-action").click(function(){
			var node = $(this)
			var item = node.attr("data-option")
			var v = parseInt($("#flow-"+item).html())
			if(node.attr("data-action") == "add"){
				v += 1
			} else {
				v -= 1
			}
			refreshflowcount(item,v)
			saveflowcount(item, v)
		})
	})

</script>

<script src="/static/js/console/app.js"></script>
 </body>


 </html>
