<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

    <title>更新日志</title>

    <!--Core CSS -->
    <link href="/static/bs3/css/bootstrap.min.css" rel="stylesheet">
	<style>
    @media all and (max-width:800px) {

		#web {
			display:none
		}
	}
    @media all and (min-width:800px) {
		#mobile {
			display:none
		}

	}

	</style>


</head>

<body style="padding:20px">
    <h2>更新日志</h2>
<h3>2017/02/12</h3>
<h4>1.移动端/可以添加体验客户,并预约体验课</h4>
<p>首页->左上角菜单->体验客户, 即可添加一个体验用户</p>
<p>添加完成后即可按一般课程流程添加体验课预约</p>
<h4>2.web端/提供体验课的数量统计</h4>
<p>菜单->数据统计->销售详情,可以查看周期内每个教练完成的体验课数量</p>
<h4>3.web端/提供日常支出记录</h4>
<p>菜单->数据统计->收支记录,可以添加不同类别的支出，以便统计运营成本</p>
<h4>4.web端/提供流量记录</h4>
<p>菜单->数据统计->流量数据,可以记录每日不同渠道的客户流量，以便了解整体客流情况</p>
<a id="mobile" class="btn btn-primary" href="/mobile/home">返回</a>
<a id="web" class="btn btn-primary" href="/console/dashboard">返回</a>
</body>
</html>
