<div class="col-md-12" ng-controller="CoachCalendarCtrl as ctrl">
    <!--<h3>客户信息</h3>-->
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <h4 class="col-sm-4">课表&nbsp;&nbsp;{{ctrl.startday.Format("yyyy-MM-dd")}} ~
		{{ctrl.endday.Format("yyyy-MM-dd")}}</h4>
	<div class="col-md-1 pull-right">
			<span class="tools pull-right">
                                <a ng-click='ctrl.export()' class="fa fa-save">&nbsp;{{ctrl.backupstr}}</a>
                             </span>
						 </div>
                <div class="col-md-3 pull-right">
                    <newdatepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i
						class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" selector="form-control"
                    style="margin-bottom:10px;">
                        <div class="col-lg-12 input-group">
                            <input class="form-control" style="background: rgba(0,0,0,0);" ng-model="ctrl.endday_str"
                            ng-change="ctrl.refresh()" placeholder="Choose a date"
                            />
                        </div>
                        <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                    </newdatepicker>
                </div>
                <div class="col-md-3 pull-right">
                    <newdatepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i
						class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" selector="form-control"
                    style="margin-bottom:10px;">
                        <div class="col-lg-12 input-group">
                            <input class="form-control" style="background: rgba(0,0,0,0);" ng-model="ctrl.startday_str"
                            ng-change="ctrl.refresh()" placeholder="Choose a date"
                            />
                        </div>
                        <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                    </newdatepicker>
                </div>
            </div>
        </header>
        <div class="panel-body">
			<h4>课程统计</h4>
            <table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
                <tr ng-repeat="row in $data" style="color:#333">
                    <td data-title="'姓名'" sortable="'customerprofile.displayname'">{{row.customerprofile.displayname}}</td>
                    <td data-title="'电话'" sortable="'customerprofile.name'">{{row.customerprofile.name}}</td>
                    <td data-title="'日期'" sortable="'date'">{{row.date}}</td>
                    <td data-title="'时间'">{{timemap[row.hour]}}</td>
                    <td data-title="'单价'">{{row.finalprice}}</td>
					<td data-title="'类型'" sortable="'coursetype'"}>{{row.coursetype}}</td>
                    <td><a style="color:#1fb5ad" href="#customer/{{row.customerprofile.name}}/orders">查看/预约</a>
                    </td>
                </tr>
            </table>
			<h4>客均上课数量统计</h4>
			<p>活跃客户(加权):{{ctrl.av.customercount}}人
			课程总数(加权):{{ctrl.av.coursecount}}节
			客均上课(加权):{{ctrl.av.average}}节</p>
            <canvas id="line" class="chart chart-bar" chart-data="ctrl.averagechart.data"
				chart-labels="ctrl.averagechart.labels"></canvas>

			<h4>活跃客户</h4>
            <table ng-table="ctrl.freqTableParams" class="table table-condensed table-striped">
                <tr ng-repeat="row in $data" style="color:#333">
                    <td data-title="'姓名'" sortable="'name'">{{row.name}}</td>
                    <td data-title="'加入日期'" sortable="'date'">{{row.date}}</td>
                    <td data-title="'次数'" sortable="'times'">{{row.times}}</td>
                </tr>
            </table>
			<h4>存量客户(不含订单已结束的):{{ctrl.allcustomercount}}人</h4>
            <table ng-table="ctrl.respTableParams" class="table table-condensed table-striped">
                <tr ng-repeat="row in $data" style="color:#333">
                    <td data-title="'姓名'" sortable="'displayname'">{{row.displayname}}</td>
                    <td data-title="'加入日期'" sortable="'date'">{{row.date}}</td>
                    <td data-title="'上次训练'" sortable="'lastdate'">{{row.lastdate}}</td>
                </tr>
            </table>
        </div>
    </section>
</div>
