<div class="col-md-12" ng-controller="CustomerOrdersCtrl as demo">
    <!--<h3>客户信息</h3>-->
    <section class="panel">
        <header class="panel-heading">
            <h4 class="text-center">
<i back-button class="fa fa-arrow-circle-o-left pull-left" style="margin-left: 20px;font-size:30px; color:lightgrey"></i>
{{demo.customer_displayname}}
</h4>

        </header>
        <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
							<li class="text-center"><p>完成私教课</p>
							<p>{{demo.summary.pt_count}}</p></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
							<li class="text-center"><p>完成团体课</p>
							<p>{{demo.summary.gc_count}}</p></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
                            <li class="text-center" style="color:#1fb5ad;font-weight:600">
							<p>剩余团课(节)</p>
							<p>{{demo.summary.groupcourse_balance}}<p>
							</li>
                        </ul>
                    </div>
                    <div class="col-lg-2 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
                            <li ng-click="demo.addDays()" class="text-center" style="color:#1fb5ad;font-weight:600">
							<p>团课有效期</p>
							<p>{{demo.summary.group_enddate}}</p></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
                            <li ng-click="demo.modifyBalance()" class="text-center" style="color:#1fb5ad;font-weight:600">
							<p>账户余额(元)</p> <p>{{demo.summary.balance}}<p></li>
                        </ul>
                    </div>


                    <div class="col-lg-2 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
							<li class="text-center grand-total"><a style="color:white"
								href="#/charge/{{demo.currentcoach}}/{{demo.customername}}">预约</a></li>
                        </ul>
                    </div>
                </div>
            <table ng-table="demo.tableParams" class="table table-condensed table-striped">
                <tr ng-repeat="row in $data">
                    <td data-title="'订单号'">{{row.billid}}</td>
                    <td data-title="'金额'">{{row.amount}} <a ng-if="demo.role == 'admin'" style="margin-left:3px;font-size:12px;color:#1fb5ad;text-decoration: underline;"
                        ng-click="demo.modify(row,'price')">修改</a>
                    </td>
                    <td data-title="'状态'">{{demo.statusmap[row.status]}}</td>

                    <td data-title="'有效期(月)'">{{row.duration}}
						<a ng-if="demo.role =='admin'" style="margin-left:3px;font-size:12px;color:#1fb5ad;text-decoration: underline;"
                        ng-click="demo.modify(row,'duration')">修改</a>
                    </td>
                    <td data-title="'截至日期'">{{row.endtime}}</td>
                    <td data-title="'完成度'">{{row.complete_status}}
						<a ng-if="demo.role =='admin'" style="margin-left:3px;font-size:12px;color:#1fb5ad;text-decoration: underline;"
                        ng-click="demo.modify(row,'coursecount')">修改</a>
					</td>
                    <td data-title="'单价'">{{row.price}}</td>
                    <td data-title="'客户'">{{row.customerdetail.displayname}}</td>
					<td data-title="'教练'">
                        <div class="btn-group" uib-dropdown>
                            <button id="split-button" type="button" class="btn btn-warning">{{row.coachdetail.displayname}}</button>
                            <button type="button" class="btn btn-warning" uib-dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
                                <li ng-click="demo.changecoach(row,c)" role="menuitem" ng-repeat="c in demo.coaches"><a>{{c.displayname}}</a>
                                </li>
                            </ul>
                        </div>
					</td>
                    <td><a ng-if="row.status!='unpaid'" class="btn {{row.status=='done'?'btn-success':'btn-primary'}}"
                        href="#order/{{row.coachdetail.name}}/{{row.id}}">{{row.status ==
						"done"?"查看":"预约"}}</a>
                        <a ng-if="demo.role == 'admin'" class="btn btn-danger" ng-click="demo.remove(row.id)">移除</a>
                    </td>
                </tr>
            </table>
			<div class="row">
				<a ng-show="demo.nexturl" class="btn btn-primary pull-right"  style="margin:10px" ng-click="demo.turnpage()">下一页</a>
				<a ng-show="demo.prevurl" class="btn btn-primary pull-right" ng-click="demo.turnpage('prev')" style="margin:10px">上一页</a>
			</div>
        </div>
    </section>
	<task-Form tasks="demo.tasks"></task-Form>
</div>
