<div class="col-md-12" ng-controller="CustomerCtrl as demo">
	<!--<h3>客户信息</h3>-->
	<section class="panel">
	<header class="panel-heading">
		客户信息  <a href="#trialcustomers" style="margin-left:10px" class="btn btn-primary btn-xs">查看体验客户</a>
			<span class="tools pull-right">
                                <a ng-click='demo.export()' class="fa fa-save">&nbsp;{{demo.backupstr}}</a>
                             </span>
	</header>
	<div class="panel-body">
		<table ng-table="demo.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="row in $data" style="color:#333">
				<td data-title="' '">
					<i ng-if="row.flag==0" ng-click="demo.flag(row) " style="color:#ccc" class="fa fa-circle-o"></i>
					<i ng-if="row.flag==1" ng-click="demo.flag(row) "  style="color:#a9d86e" class="fa fa-circle"></i>
					<i ng-if="row.flag==2" ng-click="demo.flag(row) " style="color:#FCB322" class="fa fa-circle"></i>
				</td>
				<td data-title="'姓名'" filter="{displayname: 'text'}" sortable="'displayname'">{{row.displayname}}</td>
				<td data-title="'电话'" filter="{name: 'text'}" sortable="'number'">{{row.name}}</td>
				<td data-title="'生日'">{{row.birthday}}</td>
				<td data-title="'性别'">{{row.sex?"男":"女"}}</td>
				<td data-title="'备注'" filter="{name:'comments'}">{{row.comments}}</td>
				<td><a style="color:#1fb5ad" href="#customer/{{row.name}}/orders">查看/预约</a></td>
				<td><a style="color:#0060c6" href="#customer/{{row.name}}">基本信息</a></td>
				<td><a style="color:#000" href="#trialcustomer/{{row.name}}">体验补录</a></td>
			</tr>
		</table>
	</div>
	</section>
</div>
