<div class="col-md-12" ng-controller="CustomerOrdersCtrl as demo">
	<!--<h3>客户信息</h3>-->
	<section class="panel">
	<header class="panel-heading">
            <h4 class="text-center">
<i back-button class="fa fa-arrow-circle-o-left pull-left" style="margin-left: 20px;font-size:30px; color:lightgrey"></i>
订单列表
</h4>

	</header>
	<div class="panel-body">
		<table ng-table="demo.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="row in $data">
				<td data-title="'订单号'">{{row.billid}}</td>
				<td data-title="'金额'">{{row.amount}} <a
						style="margin-left:3px;font-size:12px;color:#1fb5ad;text-decoration: underline;"
						ng-click="demo.modify(row,'price')">修改</a></td>
				<td data-title="'状态'">{{demo.statusmap[row.status]}}</td>

				<td data-title="'有效期(月)'">{{row.duration}}<a
						style="margin-left:3px;font-size:12px;color:#1fb5ad;text-decoration: underline;"
						ng-click="demo.modify(row,'duration')">修改</a></td>
				<td data-title="'截至日期'">{{row.endtime}}</td>

				<td data-title="'完成度'">{{row.complete_status}}</td>
				<td ><a ng-if="row.status!='unpaid'" class="btn {{row.status=='done'?'btn-success':'btn-primary'}}"
						href="#order/{{row.coachdetail.name}}/{{row.id}}">{{row.status ==
						"done"?"查看":"预约"}}</a>
					<a ng-if="row.status != 'done' && row.removable" class="btn btn-danger"
						ng-click="demo.remove(row.id)">移除</a>
					<!--<a ng-if="row.status != 'done'" class="btn btn-info"
						style="margin-left:3px">修改</a>-->
				</td>
			</tr>
		</table>
	</div>
	</section>
</div>
