<div class="col-md-12" ng-controller="EvalDetailCtrl as ctrl">
	<section class="panel">
		<header class="panel-heading">
			<h4 class="text-center">
				<i back-button class="fa fa-arrow-circle-o-left pull-left" style="margin-left: 20px;font-size:30px; color:lightgrey"></i>
				数据
                    <div class="col-md-3 pull-right" ng-show="ctrl.showdatepicker">
					    <newdatepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i
						class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" selector="form-control" style="margin-bottom:10px;">
                            <div class="col-lg-12 input-group">
                                <input class="form-control" style="background: rgba(0,0,0,0);"
								ng-model="ctrl.selectedday" placeholder="Choose a date"/>
                            </div>
                            <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                        </newdatepicker>
                    </div>

			</h4>
		</header>
		<div class="panel-body">
			<div class="row text-center" style="padding-left:20px;margin-bottom:20px">
				<span ng-repeat="g in ctrl.groups" ng-click="ctrl.switchgroup(g)" class="salary-span"
					ng-class="{'active': ctrl.currentgroup == g }">{{g}}</span>
			</div>
			<div class="form-horizental bucket-form">
				<div class="form-group col-sm-6" ng-repeat="option in ctrl.options">
					<label class="col-sm-4 control-label">
						{{option.option}}({{option.unit}})
					</label>
					<div class="col-sm-8">
						<input ng-model="option.value" type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
		<p ng-show="ctrl.day =='new'" class="text-center"><a class="btn btn-primary btn-lg text-center"
			style="margin-top:20px;margin-bottom:20px"
			ng-click="ctrl.submit()">保存</a>
		</p>
	</section>
</div>
