<div class="col-md-12" ng-controller="EvalDetailCtrl as ctrl">
    <section class="panel">
        <header class="panel-heading">
            <h4 class="text-center">
				<i back-button class="fa fa-arrow-circle-o-left pull-left" style="margin-left: 20px;font-size:30px; color:lightgrey"></i>
				数据
			</h4>
        </header>
        <div class="panel-body">
            <div class="form-horizental bucket-form">
                <div class="form-group col-sm-6" ng-repeat="option in ctrl.options">
                    <label class="col-sm-3 control-label">
                        {{option.option}}({{option.unit}})
                    </label>
                    <div class="col-sm-6">
                        <input ng-model="option.value" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
		<p ng-show="ctrl.day =='new'" class="text-center"><a class="btn btn-primary btn-lg text-center"
				style="margin-top:20px;margin-bottom:20px"
                ng-click="ctrl.submit()">保存</a>
        </p>
    </section>
</div>
