<div class="col-md-12" ng-controller="FeedbackControl as ctrl">
    <section class="panel">
        <header class="panel-heading">
            意见和建议
        </header>
        <div class="panel-body">
            <textarea class="form-control" ng-model="ctrl.feedback.feedback" style="height:200px;color:grey"></textarea>
            <div class="row">
                <p class="text-center"><a class="btn btn-primary btn-lg text-center" style="margin-top:20px"
                    ng-click="ctrl.submitFeedback()">提交</a>
            </div>
        </div>
    </section>
</div>
