 <div class="row">
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-tag"></i></span>
            <div class="mini-stat-info">
                <span>{{sale.sold_count}}</span>
				今日订单数
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon pink"><i class="fa fa-cny"></i></span>
            <div class="mini-stat-info">
                <span>{{sale.sold_price}}</span>
				今日销售额
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon green"><i class="fa  fa-calendar"></i></span>
            <div class="mini-stat-info">
                <span>{{coursecount}}</span>
				今日课程数
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="cg in calendarRowGroup" style="margin-bottom:20px">
	<div ng-if="cg != undefined" class="col-md-4" ng-repeat="coach in cg ">
		<div class="event-calendar clearfix">
			<div class="col-lg-12 event-list-block">
				<div class="cal-day">
					<!--<span>Today</span>-->
					<img ng-if="calendarRowGroup" ng-src="{{coach.avatar}}" style="border-radius:5px;-webkit-border-radius: 5px;width: 40px;">
					{{coach.displayname}}
                    <a href="#/neworder/{{coach.name}}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> </a>
				</div>
				<div class="slimScrollDiv">
					<ul class="event-list" ng-slimscroll height="200">
						<li ng-repeat="book in coach.books | orderBy:book.hour">
                          <img ng-src="{{book.customerprofile.avatar}}" style="border-radius:
						  50%;-webkit-border-radius: 50%;width: 28px; margin-right:10px"/>  {{book.customerprofile.displayname}}

						  <a href="#/order/{{book.coachprofile.name}}/{{book.order}}"
								  class="pull-right btn btn-danger btn-xs" style="margin-left:10px"><i
									  class="fa fa-calendar"></i></a>
						  <span class="label label-success pull-right">{{timemap[book.hour]}}</span>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
