<div class="col-md-12" ng-controller="NewOrderCtrl as ctrl">
    <section class="panel">
        <header class="panel-heading">

            <h4 class="text-center">
<i back-button class="fa fa-arrow-circle-o-left pull-left" style="margin-left: 20px;font-size:30px; color:lightgrey"></i>
新订单
				 <div class="btn-group" uib-dropdown style="float:right">
                    <button id="split-button" type="button" class="btn
						btn-danger">{{ctrl.order_display[ctrl.ordertype]}}</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
                        <li role="menuitem" ng-click="ctrl.ordertype='normal'"><a>普通订单</a>
                        </li>
                        <!-- <li role="menuitem" ng-click="ctrl.ordertype='groupcourse'"><a>团课订单</a>
                        </li> -->
                        <li role="menuitem" ng-click="ctrl.ordertype='mini'"><a>小课</a>
                        </li>
                        <!-- <li role="menuitem" ng-click="ctrl.ordertype='charge'"><a>充值订单</a>
                        </li> -->
                    </ul>
                </div>
		</h4>
        </header>
        <div class="form-group panel-body">
            <div class="row" style="margin-bottom:20px">
                <h3 class="text-center"><img ng-src="{{ctrl.coach.avatar}}" style="-webkit-border-radius: 50%;height: 60px;"> {{ctrl.coach.displayname}}</h3>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa fa-user"></i></span>
                        <input ng-change="ctrl.querycustomerbydisplayname()" type="text" class="form-control" placeholder="客户姓名" ng-model="ctrl.mo.customer_displayname">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa fa-phone"></i></span>
                        <input ng-change="ctrl.querycustomerbyphone()" type="text" class="form-control" placeholder="客户电话" ng-model="ctrl.mo.customer_phone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" ng-hide="ctrl.ordertype == 'charge'">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa  fa-calendar-o"></i></span>
                        <input type="number" class="form-control" placeholder="课程数量(节)" ng-model="ctrl.mo.product_amount">
                    </div>
                </div>
                <div class="col-lg-6" ng-hide="ctrl.ordertype == 'charge'">
                    <div class="input-group input-group-lg m-bot15">
                        <span style="padding-left: 18px;padding-right: 18px;" class="input-group-addon btn-primary"><i class="fa fa-cny"></i></span>
                        <input type="number" class="form-control" placeholder="课程总价(元)" ng-model="ctrl.mo.product_price">
                    </div>
                </div>
                <div class="col-lg-6" ng-show="ctrl.ordertype == 'charge'">
                    <div class="input-group input-group-lg m-bot15">
                        <span style="padding-left: 18px;padding-right: 18px;" class="input-group-addon btn-primary"><i class="fa fa-cny"></i></span>
                        <input type="number" class="form-control" placeholder="充值金额(元)" ng-model="ctrl.mo.product_price">
                    </div>
                </div>
                <div class="col-lg-6" ng-show="ctrl.ordertype == 'charge'">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa  fa-calendar-o"></i></span>
                        <input type="number" class="form-control" placeholder="赠送金额(元)"
						ng-model="ctrl.mo.product_promotion">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa fa-clock-o"></i></span>
                        <input type="number" class="form-control" placeholder="有效期(月)" ng-model="ctrl.mo.product_duration">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa"
								ng-class="{'1':'fa-male','0':'fa-female'}[ctrl.mo.sex]"></i></span>
                        <select class="form-control input" ng-model="ctrl.mo.sex">
                            <option value=0 selected>女</option>
                            <option value=1>男</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa  fa-leaf"></i></span>
                        <newdatepicker date-set-hidden="true" date-set="1990-01-01" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i
						class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" selector="form-control" style="margin-bottom:10px;">
                            <div class="col-lg-12 input-group">
                                <input class="form-control" style="background:
								rgba(0,0,0,0);height:46px;font-size:18px;" ng-model="ctrl.birthday_str" placeholder="生日"
                                />
                            </div>
                            <span style="cursor: pointer;position: absolute;top: 10px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                        </newdatepicker>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa  fa-bolt"></i></span>
                        <input type="text" class="form-control"
						placeholder="紧急联系人(姓名/电话号码)" ng-model="ctrl.mo.emergency_contact">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" ng-show="ctrl.ordertype=='groupon'">
                    <div class="input-group input-group-lg m-bot15">
                        <span class="input-group-addon btn-primary"><i class="fa fa-clock-o"></i></span>
                        <input type="number" class="form-control" placeholder="教练提成(元/节)" ng-model="ctrl.mo.subsidy">
                    </div>
                </div>

            </div>
            <p class="text-center"><a class="btn btn-primary btn-lg text-center" style="margin-top:20px"
                ng-click="ctrl.submitorder()">提交订单</a>
            </p>
        </div>
</div>
