<div class="row" ng-controller="SalarySummaryCtrl as ctrl">
    <div class="col-sm-12" ng-hide="ctrl.is_admin">
        <div class="form-signin">
            <h2 class="form-signin-heading">密码验证</h2>
            <div class="login-wrap">
                <input type="password" class="form-control" ng-model="ctrl.pwd"
				placeholder="请输入密码" autocomplete="off" autofocus>
                <i class="text-danger">{{ctrl.errmsg}}</i>
                <button class="btn btn-lg btn-login btn-block" ng-click="ctrl.submit()">提交</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-show="ctrl.is_admin">
        <section class="panel">
            <header class="panel-heading">
                <div class="row">
                    <h4 class="col-sm-4">工资&nbsp;&nbsp;{{ctrl.startday.Format("yyyy-MM-dd")}} ~
		{{ctrl.endday.Format("yyyy-MM-dd")}}</h4>
                    <!--
		<span class="tools pull-right">
			<a href="javascript:;" class="fa fa-chevron-down"></a>
			<a href="javascript:;" class="fa fa-cog"></a>
			<a href="javascript:;" class="fa fa-times"></a>
		</span>
		-->
                    <div class="col-md-1 pull-right">
						<button style="position: relative;right: 10px;" ng-click="ctrl.refresh()" type="button" class="btn btn-info "><i class="fa fa-refresh"></i> 刷新</button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <newdatepicker date-format="yyyy-MM-dd" selector="form-control" style="margin-bottom:10px;">
                            <div class="col-lg-12 input-group">
                                <input class="form-control" style="background: rgba(0,0,0,0);"
								ng-model="ctrl.endday_str" placeholder="Choose a date"/>
                            </div>
                            <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                        </newdatepicker>
                    </div>
                    <div class="col-md-3 pull-right">
                        <newdatepicker date-format="yyyy-MM-dd" selector="form-control" style="margin-bottom:10px;">
                            <div class="col-lg-12 input-group">
                                <input class="form-control" style="background: rgba(0,0,0,0);"
								ng-model="ctrl.startday_str" placeholder="Choose a date"/>
                            </div>
                            <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                        </newdatepicker>
                </div>
            </header>
            <div class="panel-body">
                <table class="table table-invoice" ng-table="ctrl.tableParams">
                    <tr ng-repeat="row in $data" style="color:#333">
                        <td data-title="'姓名'">{{row.coachname}}</td>
                        <td data-title="'底薪'">{{row.base_salary}}</td>
                        <td data-title="'养老'">-{{row.base_salary * row.yanglao / 100}}({{row.yanglao}}%)</td>
                        <td data-title="'医疗'">-{{row.base_salary * row.yiliao / 100}}({{row.yiliao}}%)</td>
                        <td data-title="'失业'">-{{row.base_salary * row.shiye / 100}}({{row.shiye}}%)</td>
                        <td data-title="'公积金'">-{{row.base_salary * row.gongjijin/100}}({{row.gongjijin}}%)</td>
                        <td data-title="'销售提成'">{{row.sale.sold}}*{{row.xiaoshou}}%={{row.sale.sold*row.xiaoshou/100}}</td>
                        <td data-title="'续课奖励'">{{row.sale.sold_xu}}*{{row.xuke}}%={{row.sale.sold_xu*row.xuke/100}}</td>
                        <!-- <td
							data-title="'上课提成'">{{row.sale.course}}*{{row.shangke}}%={{row.sale.course*row.shangke/100}}</td>
						-->
						<td data-title="'课时工资'">{{row.sale.course_salary.toFixed(2)}}</td>
                        <td data-title="'合计'">{{row.sum.toFixed(2)}}</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
