<div class="row" ng-controller="CoachSaleCtrl as ctrl">
    <div class="col-sm-12" ng-hide="ctrl.is_admin">
        <div class="form-signin">
            <h2 class="form-signin-heading">密码验证</h2>
            <div class="login-wrap">
                <input type="password" class="form-control" autocomplete="off" ng-model="ctrl.pwd"
                placeholder="请输入密码" autofocus>
                <i class="text-danger">{{ctrl.errmsg}}</i>
                <button class="btn btn-lg btn-login btn-block" ng-click="ctrl.submit()">提交</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-show="ctrl.is_admin">
        <section class="panel">
            <header class="panel-heading">
                <div class="row">
                    <h4 class="col-sm-4">销售&nbsp;&nbsp;{{ctrl.startday.Format("yyyy-MM-dd")}} ~
		{{ctrl.endday.Format("yyyy-MM-dd")}}</h4>
                    <!--
		<span class="tools pull-right">
			<a href="javascript:;" class="fa fa-chevron-down"></a>
			<a href="javascript:;" class="fa fa-cog"></a>
			<a href="javascript:;" class="fa fa-times"></a>
		</span>
		-->
                    <div class="col-md-1 pull-right">
                        <button ng-click="ctrl.refresh()" type="button" class="btn btn-info " style="position: relative;right: 10px;"><i class="fa fa-refresh"></i> 刷新</button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <p class="input-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-required ng-valid-date"
                            uib-datepicker-popup="yyyy-MM-dd" ng-model="ctrl.endday"
                            is-open="ctrl.endopened" show-button-bar="false">
                            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" 
					ng-click="ctrl.open('end')">
					<i class="fa fa-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <div class="col-md-3 pull-right">
                        <p class="input-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-required ng-valid-date"
                            uib-datepicker-popup="yyyy-MM-dd" ng-model="ctrl.startday"
                            is-open="ctrl.startopened" show-button-bar="false">
                            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" 
					ng-click="ctrl.open('start')">
					<i class="fa fa-calendar"></i>
				</button>
              </span>
                        </p>
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th>教练</th>
                            <th>销售总价(元)</th>
                            <th>销售课时(节)</th>
                            <th>耗课总价(元)</th>
                            <th>耗课课时(节)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coach in coaches" style="color:#333">
                            <td>{{coach.displayname}}</td>
                            <td>{{coach.income.sold_price}}</td>
                            <td>{{coach.income.sold_count}}</td>
                            <td>{{coach.income.completed_course_price}}</td>
                            <td>{{coach.income.completed_course}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="text-center">耗课统计(总)</h4>
                        <canvas id="line" class="chart chart-doughnut" chart-data="ctrl.gymsale.data" chart-labels="ctrl.gymsale.labels"
                        chart-legend="true" chart-legend="true"></canvas>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="text-center" >经营概况</h4>
						<p class="text-center" style="margin-bottom:20px">{{ctrl.startday.Format("yyyy-MM-dd")}} -{{ctrl.endday.Format("yyyy-MM-dd")}}</p>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">销售总价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.salesum}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">销售均价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.saleprice.toFixed(2)}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">销售课时</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.salecount}}</div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">耗课总价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.takesum}}</div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">耗课均价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.takeprice.toFixed(2)}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">耗课课时</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.takecount}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
