<div class="row" ng-controller="CoachSaleCtrl as ctrl">
    <div class="col-sm-12" ng-hide="ctrl.is_admin">
        <div class="form-signin">
            <h2 class="form-signin-heading">密码验证</h2>
            <div class="login-wrap">
                <input type="password" class="form-control" autocomplete="off" ng-model="ctrl.pwd"
                placeholder="请输入密码" autofocus>
                <i class="text-danger">{{ctrl.errmsg}}</i>
                <button class="btn btn-lg btn-login btn-block" ng-click="ctrl.submit()">提交</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-show="ctrl.is_admin">
        <section class="panel">
            <header class="panel-heading">
                <div class="row">
                    <h4 class="col-sm-4">销售&nbsp;&nbsp;{{ctrl.startday.Format("yyyy-MM-dd")}} ~
		{{ctrl.endday.Format("yyyy-MM-dd")}}</h4>
                    <!--
		<span class="tools pull-right">
			<a href="javascript:;" class="fa fa-chevron-down"></a>
			<a href="javascript:;" class="fa fa-cog"></a>
			<a href="javascript:;" class="fa fa-times"></a>
		</span>
                    <div class="col-md-1 pull-right">
                        <button ng-click="ctrl.refresh()" type="button" class="btn btn-info " style="position: relative;right: 10px;"><i class="fa fa-refresh"></i> 刷新</button>
                    </div>

		-->
                    <div class="col-md-3 pull-right">
					    <newdatepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i
						class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" selector="form-control" style="margin-bottom:10px;">
                            <div class="col-lg-12 input-group">
                                <input class="form-control" style="background: rgba(0,0,0,0);"
								ng-model="ctrl.endday_str" ng-change="ctrl.refresh()" placeholder="Choose a date"/>
                            </div>
                            <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                        </newdatepicker>
                    </div>
                    <div class="col-md-3 pull-right">
                        <newdatepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i
						class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" selector="form-control" style="margin-bottom:10px;">
                            <div class="col-lg-12 input-group">
                                <input class="form-control" style="background: rgba(0,0,0,0);"
								ng-model="ctrl.startday_str" ng-change="ctrl.refresh()" placeholder="Choose a date"/>
                            </div>
                            <span style="cursor: pointer;position: absolute;top: 6px;right: 20px;" style="cursor: pointer">
							<i class="fa fa-lg fa-calendar"></i>
						</span>
                        </newdatepicker>
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
                            <li class="text-center grand-total">结余课程 : {{ctrl.gymsale.sum_coursecount - ctrl.gymsale.sum_completedcount}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
                            <li class="text-center">已上课程 : {{ctrl.gymsale.sum_completedcount}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
							<li class="text-center">过期课程 : {{ctrl.gymsale.sum_expiredcount}}</li>
                        </ul>
                    </div>

                    <div class="col-lg-3 invoice-block">
                        <ul class="unstyled amounts" style="padding-left:0">
                            <li class="text-center">课程总计 : {{ctrl.gymsale.sum_coursecount}}</li>
                        </ul>
                    </div>

                </div>

                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th>教练</th>
                            <th>体验课(节)</th>
                            <th>团课(人次)</th>
                            <th>销售总价(元)</th>
                            <th>销售课时(节)</th>
                            <th>耗课总价(元)</th>
                            <th>耗课课时(节)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coach in coaches" style="color:#333">
                            <td>{{coach.displayname}}</td>
							<td>{{coach.income.exp_courses}}</td>
                            <td>{{coach.income.group_courses}}</td>
                            <td>{{coach.income.sold_price}}</td>
                            <td>{{coach.income.sold_count}}</td>
                            <td>{{coach.income.completed_course_price}}</td>
                            <td>{{coach.income.completed_course}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="text-center">经营概况</h4>
                        <p class="text-center" style="margin-bottom:20px">{{ctrl.startday.Format("yyyy-MM-dd")}} -{{ctrl.endday.Format("yyyy-MM-dd")}}</p>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">销售总价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.salesum}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">销售均价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.saleprice.toFixed(2)}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">销售课时</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.salecount}}</div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">耗课总价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.takesum}}</div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">耗课均价</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.takeprice.toFixed(2)}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-right col-md-6 col-sm-5 inv-label">耗课课时</div>
                            <div class="col-md-6 col-sm-7">{{ctrl.sumstatus.takecount}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="text-center">售课/耗课</h4>
                        <p class="text-center" style="margin-bottom:20px">{{ctrl.startday.Format("yyyy-MM-dd")}} -{{ctrl.endday.Format("yyyy-MM-dd")}}</p>
                        <br>
                        <canvas id="line" class="chart chart-bar" chart-data="ctrl.coachchart.data" chart-labels="ctrl.coachchart.labels"
                        chart-series="ctrl.coachchart.series" chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </section>
	<section class="panel">
	<header class="panel-heading">
		过期订单
	</header>
	<div class="panel-body">
		<table ng-table="ctrl.expiredOrderTableParams" class="table table-condensed table-striped">
			<tr ng-repeat="row in $data" style="color:#333">
				<td data-title="'姓名'">{{row.customerdetail.displayname}}</td>
				<td data-title="'电话'">{{row.customerdetail.name}}</td>
				<td data-title="'性别'">{{row.customerdetail.sex?"男":"女"}}</td>
				<td data-title="'状态'">{{row.complete_status}}</td>
				<td data-title="'过期日期'">{{row.endtime}}</td>
			</tr>
		</table>
	</div>
	</section>

	<section class="panel">
	<header class="panel-heading">
		新增客户
			<span class="tools pull-right">
                                <a ng-click='ctrl.export()' class="fa fa-save">&nbsp;{{demo.backupstr}}</a>
                             </span>
	</header>
	<div class="panel-body">
		<table ng-table="ctrl.newOrderTableParams" class="table table-condensed table-striped">
			<tr ng-repeat="row in $data" style="color:#333">
				<td data-title="'日期'" sortable="'paid_day'">{{row.paid_day}}</td>
				<td data-title="'姓名'">{{row.customerdetail.displayname}}</td>
				<td data-title="'电话'">{{row.customerdetail.name}}</td>
				<td data-title="'性别'">{{row.customerdetail.sex?"男":"女"}}</td>
				<td data-title="'节数'">{{row.course_count}}</td>
				<td data-title="'总价'">{{row.amount}}</td>
				<td data-title="'单价'">{{row.amount/row.course_count}}</td>
				<td data-title="'续课'" sortable="'isfirst'">{{row.isfirst?"否":"是"}}</td>
			</tr>
		</table>
	</div>
	</section>
	<section class="panel" ng-show="ctrl.chargeOrders.length > 0">
	<header class="panel-heading">
		充值订单
	</header>
	<div class="panel-body">
		<table ng-table="ctrl.chargeOrderTableParams" class="table table-condensed table-striped">
			<tr ng-repeat="row in $data" style="color:#333">
				<td data-title="'日期'" sortable="'paid_day'">{{row.paid_day}}</td>
				<td data-title="'姓名'">{{row.customerdetail.displayname}}</td>
				<td data-title="'电话'">{{row.customerdetail.name}}</td>
				<td data-title="'性别'">{{row.customerdetail.sex?"男":"女"}}</td>
				<td data-title="'金额'">{{row.paid_amount}}</td>
				<td data-title="'赠送'">{{row.amount-row.paid_amount}}</td>
			</tr>
		</table>
	</div>
	</section>
    </div>
</div>
