<div class="col-md-12" ng-controller="TrialDetailCtrl as ctrl">
    <section class="panel">
        <header class="panel-heading">
            <h4 class="text-center">

				<i back-button class="fa fa-arrow-circle-o-left pull-left" style="margin-left: 20px;font-size:30px; color:lightgrey"></i>
					<i ng-if="ctrl.order.customerdetail.flag==0"  style="color:#ccc" class="fa fa-circle-o"></i>
					<i ng-if="ctrl.order.customerdetail.flag==1"  style="color:#a9d86e" class="fa fa-circle"></i>
					<i ng-if="ctrl.order.customerdetail.flag==2"  style="color:#FCB322" class="fa fa-circle"></i>
								{{ctrl.customerdetail.displayname}}
                <ul class="nav nav-tabs pull-right" style="position: relative;
					    bottom: -21px;right: 20px;">
                    <li class="panel-header-tab {{ctrl.activetab[0]?'active':''}}">
                        <a ng-click="ctrl.toggle(0)" aria-expanded="false">预约</a>
                    </li>
                    <li class="panel-header-tab {{ctrl.activetab[1]?'active':''}}">
                        <a ng-click="ctrl.toggle(1)" aria-expanded="false">照片</a>
                    </li>
                    <li class="panel-header-tab {{ctrl.activetab[2]?'active':''}}">
                        <a ng-click="ctrl.toggle(2)" aria-expanded="false">数据</a>
                    </li>
                    <li class="panel-header-tab {{ctrl.activetab[3]?'active':''}}">
                        <a ng-click="ctrl.toggle(3)" aria-expanded="false">问卷</a>
                    </li>
                    <!--
                    <li class="{{ctrl.activetab[2]?'active':''}}">
                        <a ng-click="ctrl.toggle(2)" aria-expanded="false">今日消费</a>
                    </li>
					-->
                </ul>

</h4>

        </header>
		<div class="panel-body" ng-show="ctrl.activetab[0]">
		<table ng-table="ctrl.tableParams" class="table table-condensed table-striped">
			<tr ng-repeat="row in $data" style="color:#333">
				<td data-title="'时间'">
					{{row.date}}&nbsp;{{ctrl.timemap[row.hour]}}
				</td>
				<td data-title="'时间'">{{row.customerprofile.displayname}}</td>
				<td data-title="'教练'">{{row.coachprofile.displayname}}</td>
				<td data-title="'状态'">
					{{row.done?"已完成":"待完成"}}
				</td>
				<td data-title="'操作'">
					<a ng-show="!row.done" ng-click="ctrl.complete(row)" class="btn btn-sm btn-success">完成</a>
					<a class="btn btn-sm btn-danger" ng-click="ctrl.cancel(row)">取消</a>
				</td>
			</tr>
		</table>

		</div>

        <div class="panel-body" ng-show="ctrl.activetab[3]">
            <div  ng-click="ctrl.showques('new')" style="
border: 5px dashed #1fb5ad;
    width: 160px;
    height: 80px;
    line-height: 70px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
	margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #7f858a;
    display: inline-block;
	position: relative;
	margin-bottom: 10px;">
                    +添加
                </div>
            <div ng-repeat="eval in ctrl.ques" style="
	border: 5px dashed #7f858a;
    width: 160px;
    height: 80px;
    line-height: 70px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
	margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #7f858a;
    display: inline-block;
	position: relative;
	margin-bottom: 10px;" ng-click="ctrl.showques(eval.date)">
				{{eval.date}}
                </div>
			<!--
            <table ng-table="demo.tableParams" class="table table-condensed table-striped">
                <tr ng-repeat="row in $data">
                    <td data-title="'单价'">{{row.price}}</td>
                </tr>
            </table>
			-->
        </div>

        <div class="panel-body" ng-show="ctrl.activetab[2]">
            <div  ng-click="ctrl.showeval('new')" style="
border: 5px dashed #1fb5ad;
    width: 160px;
    height: 80px;
    line-height: 70px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
	margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #7f858a;
    display: inline-block;
	position: relative;
	margin-bottom: 10px;">
                    +添加
                </div>
            <div ng-repeat="eval in ctrl.evals" style="
	border: 5px dashed #7f858a;
    width: 160px;
    height: 80px;
    line-height: 70px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
	margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #7f858a;
    display: inline-block;
	position: relative;
	margin-bottom: 10px;" ng-click="ctrl.showeval(eval.date)">
				{{eval.date}}
                </div>
			<!--
            <table ng-table="demo.tableParams" class="table table-condensed table-striped">
                <tr ng-repeat="row in $data">
                    <td data-title="'单价'">{{row.price}}</td>
                </tr>
            </table>
			-->
        </div>

        <div class="panel-body" ng-show="ctrl.activetab[1]">
			<p>
            <div  ng-file-select="ctrl.addphoto($files)" style="
border: 5px dashed #1fb5ad;
    width: 190px;
    height: 190px;
    line-height: 180px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
	margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #7f858a;
    display: inline-block;
	position: relative;
	margin-bottom: 10px;">
                    +添加
                </div>
			<img ng-click="ctrl.openLightboxModal($index)" ng-repeat="img in ctrl.album"
			src="{{img.url}}?imageView2/1/w/200/h/200" style="margin-bottom:10px;margin-right:20px;width:180px">
            <div style="
border: 5px dashed #1fb5ad;
    width: 190px;
    height: 190px;
    line-height: 180px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
	margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #7f858a;
    display: inline-block;
	position: relative;
	margin-bottom: 10px;" ng-show="ctrl.loadmore" ng-click="ctrl.refreshPhoto()">
                    加载更多
                </div>

			</p>
     </div>

    </section>
</div>
