<md-content ng-controller="CustomerListCtrl as ctrl">
    <md-toolbar style="position:fixed; top:0;background:white !important">
        <div class="md-toolbar-tools">
            <span>客户列表</span>
        </div>
    </md-toolbar>
    <ul class="list">
        <li ng-click="ctrl.showcustomer(c)" class="list-item" data-ix="list-item" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity
				500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32,
				1); padding-left:30px" ng-repeat="c in ctrl.customerlist">
            <p class="w-clearfix w-inline-block">
                <div class="title-list">{{c.displayname}}</div>
                <a style="font-size: 25px;" href="#/customer/{{c.name}}" class="course-time icon-list highlighted">
                    <div class="ion-ios-information-outline"></div>
                </a>
            </p>
        </li>
    </ul>



</md-content>
