<md-dialog aria-label="Mango (Fruit)" ng-cloak ng-controller="LoginCtrl as ctrl">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2></h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="page-content" style="width:100%" id="main-stack" data-scroll="0">
                <div class="body padding">
                    <div class="top-section padding">
                        <div class="w-form">
                            <div id="submit-form" name="email-form">
                                <div>
                                    <label class="label-form">电话号码</label>
                                    <input ng-model="ctrl.user.name" class="w-input input-form" id="phone" type="number"
                                    name="username" data-name="username" required="required">
                                    <div class="separator-fields"></div>
                                </div>
                                <div>
                                    <label class="label-form" for="password">密码</label>
                                    <div class="w-clearfix block-input-combined">
                                        <input ng-model="ctrl.user.pwd" class="w-input input-form left" id="pwd" type="password"
                                        name="password" data-name="password" required="required">
                                    </div>
                                    <div class="separator-button-input"></div>
                                </div>
                                <a ng-click="ctrl.login()" style="font-size:18px" class="w-button
								action-button">登录</a>
                                <div class="separator-button"></div>
                            </div>
                            <div class="w-form-done">
                                <p>登陆成功</p>
                            </div>
                            <div class="w-form-fail">
                                <p>登录失败</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
	<!--
    <div class="page-content loading-mask" ng-show="ctrl.loading" id="new-stack">
        <div class="loading-icon">
            <div class="navbar-button-icon icon ion-load-d"></div>
        </div>
    </div>
	-->
    <div class="shadow-layer"></div>
</md-dialog>
