<div ng-controller="OrderDetailCtrl as ctrl">
    <md-content>
        <div style="width:100%;position:fixed;bottom:0;z-index:1000;background:white" layout="row" layout-align="space-between center"
        style="padding-left: 8px">
            <div>
                <md-button>
                    有效期：{{ctrl.order.endtime}}
                </md-button>
            </div>
            <span></span>
            <div>
                <md-button class="small-button" ng-click="ctrl.submit()">
                    保存
                </md-button>
            </div>
        </div>
        <md-toolbar id="time-sheet">
            <div class="md-toolbar-tools" style="padding:0" layout="row">
                <div flex=10 style="min-width: 50px" layout="column">
                    <md-datepicker id="datepicker" ng-model="ctrl.currentdate" style="color:#777;position: relative; background: rgba(0,0,0,0);"
                    ng-change="ctrl.refreshdates()"></md-datepicker>
                    <div style="font-size:26px; color:#777;margin-left: 10px; margin-top: -42px;" class="icon ion-ios-calendar-outline"></div>
                </div>
                <div class="date-day" flex layout="row" ng-click="ctrl.select(ctrl.dates[0])" class=""
                ng-class="{'selected': ctrl.selected == ctrl.dates[0]}">
                    <div class="day-str" flex>{{ctrl.dates[0].Format("MM/dd")}}</div>
                </div>
                <div class="date-day" flex ng-click="ctrl.select(ctrl.dates[1])" class="" ng-class="{'selected': ctrl.selected == ctrl.dates[1]}">
                    <div class="day-str" flex>{{ctrl.dates[1].Format("MM/dd")}}</div>
                </div>
                <div class="date-day" flex ng-click="ctrl.select(ctrl.dates[2])" class="" ng-class="{'selected': ctrl.selected == ctrl.dates[2]}">
                    <div class="day-str" flex>{{ctrl.dates[2].Format("MM/dd")}}</div>
                </div>
                <div class="date-day" flex ng-click="ctrl.select(ctrl.dates[3])" class="" ng-class="{'selected': ctrl.selected == ctrl.dates[3]}">
                    <div class="day-str" flex>{{ctrl.dates[3].Format("MM/dd")}}</div>
                </div>
                <div class="date-day" flex ng-click="ctrl.select(ctrl.dates[4])" class="" ng-class="{'selected': ctrl.selected == ctrl.dates[4]}">
                    <div class="day-str" flex>{{ctrl.dates[4].Format("MM/dd")}}</div>
                </div>
            </div>
            <div ng-repeat="r in [0,1,2,3,4]" layout="row" style="height:42px">
                <div flex class="date-tab-hour" ng-repeat="h in [0,1,2,3,4,5]" layout="row" layout-align="center center">
                    <div flex ng-click="ctrl.addbook(6*r+h)" class="time-na" ng-class="{'time-available': ctrl.isAvaHour(6*r + h)}">{{ctrl.timemap[6*r + h]}}</div>
                </div>
            </div>
        </md-toolbar>
        <md-tabs md-border-bottom md-stretch-tabs id="order-detail-list" style="padding-bottom:60px">
            <md-tab label="待约({{ctrl.order.course_count-ctrl.bookedbook.length-ctrl.completedbook.length}})">
			<md-tab-label>剩余
			<span class="number">
				{{ctrl.order.course_count-ctrl.bookedbook.length-ctrl.completedbook.length}}</span>
			</md-tab-label>
                <md-tab-body class="md-padding" style="padding-top: 0;">
				<h1 style="text-align:center;font-size: 16px;
					    color: #666;" class="title-new" ng-hide="ctrl.actionlist.length>0">还有{{ctrl.order.course_count -
						ctrl.bookedbook.length - ctrl.completedbook.length}}节课待预约</h1>
                    <ul class="list">
                        <li ng-class="{'highlighted grey':c.done}" class="list-item" data-ix="list-item"
                        style="opacity: 1; height:60px" ng-repeat="c in ctrl.actionlist">
                            <p class="w-clearfix w-inline-block" href="#">
                                <div style="margin-left: 15px;" ng-class="{'highlighted': c.done}" class="title-list">{{c.date}}</div>
                                <div ng-click="ctrl.recover(c)" class="course-time icon-list
										highlighted" style="line-height:60px">
                                    <div class="icon ion-ios-close-outline"></div>
                                </div>
                                <div class="title-list course-time">{{ctrl.timemap[c.hour]}}</div>
                                <div class="title-list course-time">{{c.pendingaction=="add"?"新增":"取消"}}</div>
                            </p>
                        </li>
                    </ul>
                </md-tab-body>
            </md-tab>
            <md-tab>
				<md-tab-label>待上
					  <span class="number">{{ctrl.bookedbook.length}}</span>
				</md-tab-label>
                <md-tab-body class="md-padding" style="padding-top: 0;">
				<h1 style="text-align:center;font-size: 16px;
					    color: #666;" class="title-new" ng-hide="ctrl.bookedbook.length>0">没有待上课程</h1>
                    <ul class="list">

                        <li ng-class="{'highlighted grey':c.done}" class="list-item" data-ix="list-item"
                        style="opacity: 1; height:60px" ng-repeat="c in ctrl.bookedbook">
                            <p class="w-clearfix w-inline-block" href="#">
                                <div style="margin-left: 15px;" ng-class="{'highlighted': c.done}" class="title-list">{{c.date}}</div>
                                <div ng-click="ctrl.removebook(c)" class="course-time
										icon-list highlighted" style="line-height:60px">
                                    <div class="icon ion-ios-close-outline"></div>
                                </div>
                                <div class="title-list course-time">{{ctrl.timemap[c.hour]}}</div>
                                <div class="title-list course-time">{{c.coachprofile.displayname}}</div>
                            </p>
                        </li>
                    </ul>
                </md-tab-body>
            </md-tab>
            <md-tab>
			    <md-tab-label>已上
					  <span class="number">{{ctrl.completedbook.length}}</span>
				</md-tab-label>
                <md-tab-body class="md-padding" style="padding-top: 0;">
				<h1 style="text-align:center;font-size: 16px;
					    color: #666;" class="title-new" ng-hide="ctrl.completedbook.length>0">没有已上课程</h1>
                    <ul class="list">
                        <li ng-class="{'highlighted grey':c.done}" class="list-item" data-ix="list-item"
                        style="opacity: 1; height:60px" ng-repeat="c in ctrl.completedbook">
                            <p class="w-clearfix w-inline-block" href="#">
                                <div style="margin-left: 15px;" ng-class="{'highlighted': c.done}" class="title-list">{{c.date}}</div>
                                <div class="course-time icon-list highlighted" style="line-height:60px">
                                    <div class="icon ion-ios-checkmark-outline"></div>
                                </div>
                                <div class="title-list course-time">{{ctrl.timemap[c.hour]}}</div>
                                <div class="title-list course-time">{{c.coachprofile.displayname}}</div>
                            </p>
                        </li>
                    </ul>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
