<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>氧气健身</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="来自氧气健身的报告" />
    <link rel="shortcut icon" href="/static/images/favicon.jpg">

    <style>
    </style>

    <body>
        <table>
	{% for item in allschedules %}
	<tr>
		<td>{{ item.date }}</td>
		<td>{{ item.customername }}</td>
	</tr>
	{% endfor %}	
        </table>
    </body>

</html>
